body{
    background-color:#f8f8f8;
}
.main-container{
    text-align:center;
}
.blog-tools-container{
    display:inline-block;
    width:75%;
    padding:0 1em;
}

.blog-tool-create{
    float:right;
}

.blog-list-container{
    display:inline-block;
    width:75%;
}
.blog-list{

    text-align: left;
    list-style: none;
}

.blog-panel{
    border:1px solid #dee8ef;
    border-radius:5px;
    margin:1em;
    padding: 1em;
    position:relative;
    background-color:white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .08);
}

.blog-panel-title{
    font-size:2em;
    min-height: 1em;
    cursor:pointer;
}

.blog-panel-keywords{
    min-height:1em;
    color:#808080;
}

.blog-panel-digest{
    min-height: 1em;
    word-wrap: break-word;
}

.blog-panel-button{
    position:absolute;
    top: 1em;
    right:1em;
    cursor: pointer;

}

.blog-panel-time{
    font-style: italic;
    color:#808080;
}