* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: SOURCEHANSANSCN-NORMAL;
    src: url('../../../font/custom/SOURCEHANSANSCN-NORMAL.OTF')
}

body {
    width: 100%;
    border: none;
    font-family: SOURCEHANSANSCN-NORMAL;
    background-color: #f5f4f6;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a, a:hover, a:focus {
    text-decoration: none;
}

ul > li {
    list-style: none;
}

a img {
    border: 0;
}

.template-content{
    padding: 0 20px 20px 20px;
}

.template-title{
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.template-title>h3{
    font-weight: 600;
    font-size: 25px;
    color: #005599;
}

.template-tools-wrapper{
    padding: 1em;
    margin: 0;
    border-bottom:1px solid #cccccc;
}

.template-tools-filters-wrapper{
    display:inline-block;
    float:left;
}

.template-tools-search-wrapper{
    display: inline-block;
    float:right;
}

.templates-wrapper{
    margin: 0 auto;
}





.template-tools-delete-wrapper{
    padding:0 1em;
    display: inline-block;
    float:right;
}

.template-tools-search{
    outline: none!important;
    border-color: #a9a9a9;
}

.template-tools-search:focus{
    border-color: #005599;
}

.filter-highlight{
    background-color: rgba(3,57,100,1);
    color:white;
}

.template-panel-wrapper{
    display:inline-block;
    text-align: center;
    padding:1em 0.3em;
}

.template-panel{
    padding:1em;
    display:inline-block;
    border-radius:5px;
    border:1px solid lightgray;
    box-shadow: 1px 1px 2px rgba(0,0,0,.08);
}

.template-thumbnail-container{
    text-align: center;
    position:relative;

}

.template-thumbnail{
    width:200px;
    height:200px;
    border-radius:5px;

}

.template-btns{
    margin-top:0.5em;
    position:relative;
}

.template-info{
    display:none;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding:0.5em 1em;
    border-radius:5px;
    background-color:rgba(255,255,255,0.7);
}

.template-info:hover{
    display:block;
}

.template-thumbnail:hover + .template-info{
    display:block;
}

.template-info-title{
    font-size:1.5em;
    font-weight: bold;
}

.template-panel-selected{
    background-color: aqua;
}