<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=title%> - 分享</title>
    <script src="../../public/ide/lib/jquery-3.1.0.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="file-title"><%=title%></div>
        <% if (share) { %>
            <input type="text" class="shareKey" placeholder="请输入分享密码" />
            <button class="submit">确认</button>
        <% } %>

    </div>
    <div class="short-footer">
        <footer>
            <% include ../all/footer.html %>
        </footer>

    </div>

</body>

</html>
