<!--=========================footer================================last edit:LH 20170911-->
<div id="footer">
    <div class="footer-1">
        <div class="container">
        <div class="row">
            <div class="col-lg-6  col-md-6 col-sm-6">
                <div class="linker">
                    <img src="../../public/login/assets/img/速显微.png">
                    <a class="first" href="http://www.graphichina.com/">&nbsp&nbsp&nbsp&nbsp&nbsp苏州速显微电子科技有限公司</a>
                    <p class="footerLine"></p>
                    <ul class="clearfix">
                        <li class="n1">
                            <a class="first" href="http://www.graphichina.com/Products/Default.aspx">产品中心</a>
                            <dl>
                                <dd><a href="http://www.graphichina.com/Products/3.aspx">汽车仪表</a></dd>
                                <dd><a href="https://ide.graphichina.com/">云设计中心</a></dd>
                            </dl>
                        </li>
                        <li class="n1">
                            <a class="first" href="http://www.graphichina.com/Technology/Default.aspx">创新技术</a>
                            <dl>
                                <dd><a href="http://www.graphichina.com/Technology/7.aspx">硬件架构</a></dd>
                                <dd><a href="http://www.graphichina.com/19.aspx">芯片架构</a></dd>
                                <dd><a href="http://www.graphichina.com/20.aspx">软件架构</a></dd>
                                <dd><a href="http://www.graphichina.com/21.aspx">系统优势</a></dd>
                            </dl>
                        </li>
                        <li class="n1">
                            <a class="first" href="http://www.graphichina.com/AboutUs/Default.aspx">关于我们</a>
                            <dl>
                                <dd><a href="http://www.graphichina.com/AboutUs/13.aspx">公司概况</a></dd>
                                <dd><a href="http://www.graphichina.com/AboutUs/17.aspx">专利技术</a></dd>
                                <dd><a href="http://www.graphichina.com/AboutUs/18.aspx">荣誉资质</a></dd>
                                <dd><a href="http://www.graphichina.com/AboutUs/19.aspx">媒体关注</a></dd>
                                <dd><a href="http://www.graphichina.com/AboutUs/20.aspx">行业动态</a></dd>
                                <dd><a href="http://www.graphichina.com/25.aspx">公司动态</a></dd>
                            </dl>
                        </li>
                        <li class="n1">
                            <a class="first" href="http://www.graphichina.com/Contact/Default.aspx">联系我们</a>
                            <dl>
                                <dd><a href="http://www.graphichina.com/Contact/2.aspx">在线留言</a></dd>
                                <dd><a href="http://www.graphichina.com/Contact/3.aspx">招贤纳士</a></dd>
                                <dd><a href="http://www.graphichina.com/Contact/22.aspx">开放合作</a></dd>
                            </dl>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-3  col-md-3 col-sm-3">
                <div class="connect">
                    <h5>苏州：</h5>
                    <h5>公司地址：江苏省苏州市吴江区联杨路139号清华汽车园1号楼</h5>
                    <h5>联系电话: 0512-63317830</h5>
                    <h5>Email: tian.xiang@graphichina.com</h5>
                </div>
            </div>

            <div class="col-lg-3  col-md-3 col-sm-3">
                <div class="connect">
                    <h5>合肥：</h5>
                    <h5>公司地址：安徽省合肥市高新区创新产业园二期F1幢</h5>
                    <h5>联系电话: 0551-64260997</h5>
                    <h5>Email: tian.xiang@graphichina.com</h5>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="footer-bottom white-font">
        <div>&copy 2016&nbsp&nbsp&nbsp&nbsp&nbsp <a class="white-font" href="http://www.graphichina.com">www.graphichina.com</a>&nbsp&nbsp&nbsp&nbsp&nbspAll Rights Reserved<a class="white-font" href="http://www.miibeian.gov.cn/">&nbsp&nbsp&nbsp&nbsp&nbsp苏ICP备16003792号-1</a></div>
    </div>
</div>

<!-- FOOTER SECTION END-->