<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Users Demo</title>
	<script type="text/javascript" src="/public/client/libs/jquery.js"></script>
	<script type="text/javascript" src="/public/client/libs/react.js"></script>
	<script type="text/javascript" src="/public/client/libs/react-dom.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
</head>
<body>
<div id="user-list-wrapper">
	
</div>

<script type="text/babel">
	
	var UserList = React.createClass({
		getInitialState:function(){
			return {
				users:[]
			}
		},
		componentDidMount:function(){
			this.loadUsers()
		},
		loadUsers:function(){
			$.get('/users',function(response,status,xhr){
				if (status=='success') {
					var users = JSON.parse(response)
					console.log(users);
					this.setState({users:users})
				}
			}.bind(this))
		},
		render:function(){
			return (
				<ul>
					{(this.state.users||[]).map(function(user, index){
						return (
							<li key={index} >
							{user.accountName}<br />
							{user.email}<br />
							{user.password}<br />
							{user._id}<br />
							<button onClick={this.handleClick.bind(null,index)} >x</button></li>
						)
					}.bind(this))}
				</ul>
			)
		},
		handleClick:function(index){
			var username = this.state.users[index].accountName
			console.log(username);
			$.post('/delete-user',{username:username},function(response, status, xhr){
				if (status == 'success') {
					var users = JSON.parse(response)
					this.setState({users:users})
				}
			}.bind(this))
		}
	})

	var UserListDOM = document.getElementById('user-list-wrapper')
	ReactDOM.render(<UserList />,UserListDOM)
</script>
</body>
</html>