<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
</head>
<body>
<div class="add-user-wrapper">
	<form class="add-user-form" action="/user/login" method="POST" >
		<fieldset>
			<label for="username" class="form-label">UserName</label>
			<input name="username" type="text" class="form-input" placeholder="username" />
		</fieldset>
		<fieldset>
			<label for="password" class="form-label">Password</label>
			<input name="password" type="password" class="form-input" />
		</fieldset>
		<fieldset>
			<input name='captcha' type='text' class="form-input" / >
			<img src='/captcha' />
		</fieldset>
		<fieldset>
			<button type="submit" class="submit" >Submit</button>
		</fieldset>
	</form>
</div>
	
</body>
</html>