**/.DS_Store
node_modules
localproject/
nwjs-sdk-v0.15.4-osx-x64/
project/
resources/
temp/
release/
log/
.idea/
.db/

src/views/learn/
src/public/learn/

src/public/blog/media
src/public/ide/modules/ide/min-js/

src/public/ide/modules/ide/js/parts/simulator/

public/

views/