<!--=========================footer================================last edit:LH 20171108-->
<div id="footer">
    <div class="footer-bottom bottom-font">
        <div>&copy 2016&nbsp&nbsp&nbsp&nbsp&nbsp
            <a class="bottom-font" href="http://www.graphichina.com">www.graphichina.com</a>
            &nbsp&nbsp&nbsp&nbsp&nbspAll Rights Reserved
            <a class="bottom-font sm-a" href="http://www.miibeian.gov.cn/">&nbsp&nbsp&nbsp&nbsp&nbsp苏ICP备16003792号-1</a></div>
    </div>
</div>

<!-- FOOTER SECTION END-->