/*create by LH on 2017/8/21*/
/*style for learnPage*/

.my-start-learn{
    font-size: 50px;
    /*font-family: 幼圆;*/
}

.my-main-div{
    background-color: #f5f5f5;
}

.my-icon-container{
    width:100px;
    height: 100px
}

.my-icon-round-border {
    border: 1px solid #1A94C4;
    color: #2f9484;
    text-align: center;
    padding-top: 25px;
    margin-bottom: 20px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-color:white;
    font-size: 50px;
    /*vertical-align: baseline;*/
}

.my-icon-round-border:hover {
    color: #fff;
    border: 10px double #fff;
    /*border: 3px double #fff;*/
    padding-top: 15px;
    background-color: #1A94C4;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.my-font-h4{
    font-size: 20px;
    text-align: center;
    color: #0f0f0f;
    vertical-align: bottom;
}
.my-font-h1{
    display: block;
    font-size: 24px;
    text-align: center;
    color: #0f0f0f;
    /*font-weight: bold;*/
}
.my-font-h1::before,
.my-font-h1::after{
    /*position: relative !important;*/
    content: ' ';
    position: absolute;
    height: 0;
    line-height: 0;
    border-top: 2px solid #2f9484;
    width: 100px;
    top: 50%;
 }
.my-font-h1::before{
    left: 220px;
}
.my-font-h1::after{
    right: 220px;
}
.my-font-h2{

    font-size: 18px;

}


.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-1-5 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-1-5 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-1-5 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-1-5 {
        width: 20%;
        float: left;
    }
}

.my-set-margin-1{
     margin-top: 80px;
 }
.my-set-margin-2{
    margin-bottom: 200px;
}

.my-set-center{
    text-align: center;
}

.my-header{
    text-align: center;
    margin-bottom:80px;
}

.view-box {
    display: block;
    /*width: 100%;*/
    /*height: 225px;*/
    cursor: pointer;
    position: relative;
    transition: box-shadow .2s linear;
}

.view {
    display: block;
    position: relative;
    width: 100%;
    /*height: 150px;*/
    overflow: hidden;
    transition: box-shadow 1s ease-out;
}
.s-play{
    /*opacity: 0;*/
    /*transition: opacity .2s linear;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*width: 52px;*/
    /*height: 52px;*/
    /*margin: -26px 0 0 -26px;*/
    /*background: url(http://vs5.bdstatic.com/browse_static/v3/search_v2/page/play_f073d9b.png) no-repeat;*/
}
.my-play-icon{
    position:  absolute;
    top: 50%;
    left: 50%;
    width: 66px;
    height: 66px;
    margin: -33px 0 0 -33px;
    /*z-index: -1;*/
    z-index: 3;
    opacity: 0;
}
.my-play-icon-hover{
    /*z-index: 10000 !important;*/
    opacity: 1;
}

.s-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    /*filter: alpha(opacity=0);*/
    /*-khtml-opacity: 0;*/
    /*-moz-opacity: 0;*/
    opacity: 0;
    z-index: 2;
}
.s-mask-hover{
    opacity: 0.6;
}

.img{
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    transition: transform .1s ease-in,-webkit-filter 1s ease-out;
}
.my-video-modal {
    width: 902.5px;
}
.my-modal-content{
    /*background-color: #dddddd;*/
    background-color: transparent;
}

.my-modal-header{
    border: 0;
    padding-bottom: 20px;
    background-color: black;
    opacity: 0.5;
}
.my-close-icon{
    top: auto;
    bottom:3px;
    color:white;
    float: right;
    font-size: inherit;
}
.my-modal-body{
    padding: 0;
}
.my-video{
    /*width: 900px;*/
    width: 100%;
    display:none;
    /*border:10px solid #888888;*/
    /*border: 3px white solid;*/
}

.my-Block{
    overflow-wrap:normal;
    min-height: 300px;
    background-color: white;
    border: 5px double #cccccc;
    border-radius:25px;
    margin-top: 60px;
    padding:30px 50px 70px 90px;
    text-align: left;
    font-size: 20px;
}

#dom-learn li{
    list-style-type: decimal;
}
#dom-learn a{
    /*text-decoration:none;*/
    color: #333;
}
#QA li{
    list-style-type: decimal;
}
.my-question{
    padding:10px 25px 10px 5px;
    width: 100%;
}
.my-answer{
    width: 100%;
    display:none;
    padding:8px 25px 15px 25px;
    margin-bottom:15px;
    margin-left:-25px;
    background-color: #f0f0f0;
    border: 1px #cccccc solid;
    border-radius:10px;
    font-size: 18px;
}
.my-domLink{
    display: block;
    padding:10px 25px 10px 5px;
    width: 100%;
}
.my-txtBlock{
    min-height: 600px;
    background-color: #f0f0f0;
    border: 5px double lightgrey;
    margin-top: 60px;
    margin-bottom:100px;
    padding:40px 100px;
    text-align: left;
    font-size: 20px
}
.my-textarea-border{
    height: 350px;
    background-color: #f4f4f4;
    border: 1px solid lightgrey;
    padding:20px;
    text-align: left;
    font-size: 20px
}
.my-textarea{
    margin-top:30px;
    width: 100%;
    height: 280px;
    word-break: break-all;
    word-wrap: break-word;
    /*font-family: Helvetica;*/
    resize: none;
}
.my-guestInfo{
    display:none;
    margin-top:20px;
    padding:30px 70px 40px 20px;
    background-color: #f4f4f4;
    border:1px solid lightgray
}
.my-submit{
    text-align: right;
    padding-top: 30px;
}
