<li data-project=<%= JSON.stringify(project) %>  class="projectpanel">
    <div class="img">
        <i class="projectdelete iconfont">&#xe607;</i>
        <a href="#"><img src="/public/login/assets/img/pro_1.png"></a>
        <!--<div class="img_bot">-->
        <!--<div class="img_bg">haha</div>-->
        <!--<div class="img_bot_test">-->
        <!--<a href="#">编辑</a>-->
        <!--<a href="#">预览</a>-->
        <!--</div>-->
        <!--</div>-->
    </div>
    <p class="text projectinfo" data-toggle="modal" data-target="#myModal">
        <span><%= project.name %></span>
        <span class="day"><%= project.lastModified %></span>
    </p>
</li>