<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>AHMI IDE桌面版下载</title>
    <link rel="stylesheet" href="../../public/libs/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../public/download/css/index.css">
    <!-- CUSTOM STYLE CSS -->
    <link href="../../public/login/assets/css/style.css" rel="stylesheet"/>


    <script src="../../public/libs/jquery-3.1.1.min.js"></script>
    <script src="../../public/libs/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <% include header.html %>
</header>
<div class="main-container">
    <div class="download-container">
        <div class="download-button-wrapper">
            <span class="download-description">
                <h4>离线状态制作界面的绝佳选择</h4>
            </span>
            <a  href="/download/pcclient/latest" class="download-button">
                下载AHMI IDE桌面版
                <span>支持Windows XP SP3及以上Windows操作系统</span>
            </a>
        </div>
    </div>
    <div class="table screen">
        <div class="row">
            <div class="showcase col"><img class="showcase-item" style="max-width:80%;" src="../../public/download/assets/screen1.jpg" /></div>
            <div class="description col" >
                <h3>可视化制作交互界面</h3>
                <p>通过添加控件、配置属性，完成人机交互界面的静态布局。接着添加事件逻辑，就完成了动态的、具有逻辑交互的人机界面。</p>
            </div>
        </div>

    </div>
    <div class="table screen">
        <div class="row">
            <div class="showcase col"><img class="showcase-item" style="max-width:80%;" src="../../public/download/assets/screen2.jpg" /></div>
            <div class="description col" >
                <h3>实时模拟仿真</h3>
                <p>通制作好的人机交互界面可以实时模拟在硬件平台的运行效果，所见即所得。</p>
            </div>
        </div>
    </div>
    <div class="screen">
        <div class="quote">
            “如同制作PPT一般设计和实现人机交互界面，您仅仅需要准备好素材，而无需学习编码。”
        </div>
    </div>
    <div class="screen download-more-screen">
        <div class="quote">
            <a class="download-more-anchor" href='/download/resources.html'>
                <p  class="download-more">查看更多下载资源</p>
            </a>
        </div>
    </div>



</div>
<footer>
    <% include ../all/footer.html %>
</footer>



</body>
</html>