<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>密码找回</title>
    <link rel="stylesheet" href="../css/zhaohui.css" type="text/css" />
</head>
<body>
    <div class="mian">
        <div class="top">
            <img src="../images/creator.png" />
        </div>
        <div class="text">AHMI Designer</div>
        <div class="form">
            <form action="" method="post">
                <div class="input1">
                    <input type="text" value="" name="username" placeholder="输入用户名" class="name" />
                </div>
                <div class="input2">
                    <input type="text" value="" name="email" placeholder="输入邮箱地址" class="email" />
                </div>
                <div class="input3">
                    <input type="submit" value="密码找回>" class="submit" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>