<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>密码设置</title>
    <link rel="stylesheet" href="../css/settings.css"type="text/css" />
</head>
<body>
<div class="main">
    <h2 class="head">帐号设置</h2>
    <form action="" method="post">
        <div class="input1">
            <p>旧密码：</p>
            <input type="post" value="" name="password" class="name1" />
        </div>
        <div class="input2">
            <p>新密码：</p>
            <input type="post" value="" name="newpassword1" class="name2"  maxlength="30" minlength="8" />
        </div>
        <div class="input3">
            <p>确认密码：</p>
            <input type="post" value="" name="newpassword2" class="email" />
        </div>
        <div class="input4">
            <input type="submit" value="存 储" class="submit" />
        </div>
    </form>
</div>
</body>
</html>