<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人空间</title>

    <link rel="stylesheet" href="/public/font/iconfont/iconfont.css" type="text/css" />
    <link href="/public/login/assets/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="/public/login/assets/css/personalProject.css" type="text/css" />
    <script src="/public/login/assets/js/jquery-1.10.2.js"></script>
    <script src="/public/login/assets/js/bootstrap.js"></script>
    <script src="/public/login/assets/js/ejs_production.js"></script>
    <script src="/public/login/assets/js/personalProject.js"></script>
</head>
<body>
    <div class="header">
        <div class="header_main">
            <div class="header_main_logo"><a href="../index.html">
                <img src="/public/login/images/Grgc/logo.png" />
            </a></div>
            <div class="nav">
                <ul>
                    <li><a href="personalProject.html">项目</a></li>
                    <!--<li><a href="#">任务</a></li>-->
                    <li><a href="#">IDE</a></li>
                    <li><a href="#">产品介绍</a></li>
                    <li><a href="#">联系我们</a></li>
                    <li><%= username %></li>
                </ul>
            </div>
            <div id="user-icon"   class="dropdown right">
                <a data-toggle="dropdown"><img src="/public/login/images/Grgc/Fruit.png" /></a>

                <!--<div id="user-icon-menu" class="menu">-->
                    <!--<a href="/private/info">个人信息</a>-->
                    <!--<a href="/user/logout">退出</a>-->
                <!--</div>-->
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="/private/info">个人信息</a></li>
                    <li><a href="/user/logout">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="top">
            <span calss="pro">所有项目</span>
            （<em class="var">2</em> )
            <span class="pro2">
                <input type="text" placeholder="项目名搜索" name="name" />
                <i class="iconfont">&#xe605;</i>
            </span>
        </div>
        <div class="pro_tab">
            <ul>
                <li><a href="#">所有</a></li>
                <!--<li><a href="#">私有</a></li>
                <li><a href="#">公开</a></li>-->
            </ul>
        </div>
        <div class="all">
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">基础选项</h4>
                        </div>
                        <div class="modal-body">
                            <div class="job">
                                <span class="modal-label col-lg-2">名称</span><input id="basicinfo-title" type="text" autocomplete="off" placeholder="项目名称" class="modal_input col-lg-10" />
                            </div>
                            <div class="job">
                                <span class="modal-label col-lg-2">作者</span><input id="basicinfo-author" type="text" placeholder="" class="modal_input col-lg-10" />
                            </div>
                            <div class="job">
                                <span class="modal-label col-lg-2">分辨率</span>
                                <select id="basicinfo-resolution" class="col-lg-10 modal_input" value="">

                                    <option value="1280*800">1280 * 800</option>
                                    <option value="1920*1080">1280 * 1080</option>
                                    <option value="1000*600">1000 * 600</option>
                                    <option value="800*600">800 * 600</option>
                                </select>
                            </div>
                            <!--<div class="des">-->
                                <!--<textarea placeholder="项目描述" class="modal_text"></textarea>-->
                            <!--</div>-->
                        </div>
                        <div class="modal-footer">
                            <button id="modal-ok" type="button" class="btn btn-primary" data-dismiss="modal">创建项目</button>
                            <button id="modal-cancel" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="projectlist" id="projectlist">
                <li id="addproject" class="addproject">
                    <a href="#">
                        <div class="img1 btn btn-primary btn-lg"  data-toggle="modal" data-target="#myModal">
                            <i class="iconfont">&#xe606;</i>
                        </div>
                    </a>
                    <p class="text">创建项目</p>
                </li>


                <% for(var i=0;i<projects.length;i++){ %>
                <li data-project=<%= JSON.stringify(projects[i]) %>  class="projectpanel">
                         <div class="img">
                             <i class="projectdelete iconfont">&#xe607;</i>
                             <a href="#"><img src="/public/login/images/Grgc/pro_1.png"></a>
                             <!--<div class="img_bot">-->
                                 <!--<div class="img_bg">haha</div>-->
                                 <!--<div class="img_bot_test">-->
                                     <!--<a href="#">编辑</a>-->
                                     <!--<a href="#">预览</a>-->
                                 <!--</div>-->
                             <!--</div>-->
                         </div>

                         <p class="text projectinfo" data-toggle="modal" data-target="#myModal">
                             <span><%= projects[i].name %></span>
                             <span class="day"><%= projects[i].lastModified %></span>
                         </p>
                 </li>
                <% } %>

            </ul>
        </div>
    </div>

</body>
</html>