<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人空间</title>

    <link rel="stylesheet" href="../../public/ide/lib/toastr/toastr.min.css" type="text/css" />
    <link rel="stylesheet" href="../../public/font/iconfont/iconfont.css" type="text/css" />
    <link href="../../public/login/assets/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../public/login/assets/css/personalProject.css" type="text/css" />
    <link rel="stylesheet" href="../../public/login/assets/css/jquery.contextMenu.min.css" type="text/css" />
    <script src="../../public/login/assets/js/jquery-1.10.2.js"></script>
    <script src="../../public/login/assets/js/jquery.contextMenu.min.js"></script>
    <script src="../../public/login/assets/js/bootstrap.js"></script>
    <script src="../../public/login/assets/js/ejs_production.js"></script>
    <script src="../../public/login/assets/js/personalProject.js"></script>
    <script src="../../public/ide/lib/toastr/toastr.min.js"></script>


</head>
<body>
    <div class="header"  >
        <div class="header_main">
            <div class="header_main_logo"><a id="mainhref" href="/">
                <img src="../../public/login/assets/img/速显微.png" />
            </a></div>
            <div class="nav">
                <!--<ul>-->
                    <!--<li><a href="personalProject.html">项目</a></li>-->
                    <!--&lt;!&ndash;<li><a href="#">任务</a></li>&ndash;&gt;-->
                    <!--<li><a href="#">IDE</a></li>-->
                    <!--<li><a href="#">产品介绍</a></li>-->
                    <!--<li><a href="#">联系我们</a></li>-->
                    <!--<li><%= username %></li>-->
                <!--</ul>-->
            </div>
            <div id="user-icon"   class="dropdown right">
                <a id="icon-dropdown" data-toggle="dropdown"><img src="../../public/login/assets/img/Fruit.png" /></a>

                <!--<div id="user-icon-menu" class="menu">-->
                    <!--<a href="/private/info">个人信息</a>-->
                    <!--<a href="/user/logout">退出</a>-->
                <!--</div>-->
                <ul class="dropdown-menu dropdown-menu-right">
                    <!--<li><a href="/private/info">个人信息</a></li>-->
                    <li><a href="/user/logout">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">确认删除?</h4>
                </div>
                <!--<div class="modal-body">-->
                    <!--<form>-->
                        <!--<div class="form-group">-->
                            <!--<label for="recipient-name" class="control-label">Recipient:</label>-->
                            <!--<input type="text" class="form-control" id="recipient-name">-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label for="message-text" class="control-label">Message:</label>-->
                            <!--<textarea class="form-control" id="message-text"></textarea>-->
                        <!--</div>-->
                    <!--</form>-->
                <!--</div>-->
                <div class="modal-footer">
                    <button id="closeModalConfirm" type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

                </div>
            </div>
        </div>
    </div>
    <div class="main" id="filedrag">
        <div class="top" ng-click="console.log('123')">
            <span calss="pro">工程项目</span>
            <!--（<em class="var">2</em> )-->
            <!--<span class="pro2">-->
                <!--<input type="text" placeholder="项目名搜索" name="name" />-->
                <!--<i class="iconfont">&#xe605;</i>-->
            <!--</span>-->
        </div>
        <!--<div class="pro_tab">-->
            <!--<ul>-->
                <!--<li><a href="#">所有</a></li>-->
                <!--&lt;!&ndash;<li><a href="#">私有</a></li>-->
                <!--<li><a href="#">公开</a></li>&ndash;&gt;-->
            <!--</ul>-->
        <!--</div>-->
        <div class="all">
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">基础选项</h4>
                        </div>
                        <div class="modal-body">
                            <div class="job">
                                <span class="modal-label col-lg-2">名称</span><input id="basicinfo-title" type="text" autocomplete="off" placeholder="项目名称" class="modal_input col-lg-10" />
                            </div>
                            <div class="job">
                                <span class="modal-label col-lg-2">作者</span><input id="basicinfo-author" type="text" placeholder="" class="modal_input col-lg-10" />
                            </div>
                            <div class="job">
                                <span class="modal-label col-lg-2">分辨率</span>
                                <select id="basicinfo-resolution" class="col-lg-10 modal_input" value="">
                                    <option value="1280*480">1280 * 480</option>
                                    <option value="1280*800">1280 * 800</option>
                                    <option value="1920*1080">1280 * 1080</option>
                                    <option value="1000*600">1000 * 600</option>
                                    <option value="800*600">800 * 600</option>
                                    <option value="800*480">800 * 480</option>
                                    <option value="480*272">480 * 272</option>
                                    <option value="320*240">320 * 240</option>
                                    <option value="custom">自定义</option>
                                </select>
                            </div>
                            <div class="job" id="basicinfo-customResolution">
                                <span class="modal-label col-lg-2">自定义</span>
                                <span class="modal-label col-lg-1">宽</span>
                                <input type="number" class="col-lg-4 modal_input" id="customWidth" placeholder="1~1920"/>
                                <span class="modal-label col-lg-1">高</span>
                                <input type="number" class="col-lg-4 modal_input" id="customHeight" placeholder="1~1920">
                            </div>
                            <div class="job">
                                <span class="modal-label col-lg-2">模板</span>
                                <select id="basicinfo-template" class="col-lg-10 modal_input" value="">
                                    <option value="">---</option>
                                    <option value="defaultTemplate">默认模板</option>
                                </select>
                            </div>
                            <div class="job">
                                <span class="modal-label col-lg-2">触屏</span>
                                <select id="basicinfo-supportTouch" class="col-lg-10 modal_input" value="">
                                    <option value="true">触屏设备</option>
                                    <option value="false">非触屏设备</option>
                                </select>
                            </div>
                            <!--<div class="des">-->
                                <!--<textarea placeholder="项目描述" class="modal_text"></textarea>-->
                            <!--</div>-->
                        </div>
                        <div class="modal-footer">
                            <button id="modal-ok" type="button" class="btn btn-primary" data-dismiss="modal">创建项目</button>
                            <button id="modal-cancel" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="projectlist" id="projectlist">
                <li id="addproject" class="addproject">
                    <a href="#">
                        <div class="img1 btn btn-primary btn-lg"  data-toggle="modal" data-target="#myModal">
                            <i class="iconfont">&#xe606;</i>
                        </div>
                    </a>
                    <p class="text">创建项目</p>
                </li>
                <!-- 识别符 勿删 -->
                <!-- webProFlag -->
                <%for(var i=0;i<projects.length;i++){%>
                <!--<li  data-project='<%= JSON.stringify(projects[i].projectInfo) %>'  context-menu="component.menuOptions"  class="projectpanel" title="创建时间:<%=projects[i].projectInfo.createTime%>&#10修改时间:<%=projects[i].projectInfo.lastModifiedTime%>">-->
                <li  data-project='<%= JSON.stringify(projects[i].projectInfo) %>'  class="projectpanel" title="创建时间:<%=projects[i].projectInfo.createTime%>&#10修改时间:<%=projects[i].projectInfo.lastModifiedTime%>">
                    <div class="img">
                        <i class="projectdelete iconfont">&#xe607;</i>
                        <a href="#"><img src=<%= projects[i].thumbnail||"../../public/login/assets/img/pro_1.png" %> /></a>
                        <!--<div class="img_bot">-->
                        <!--<div class="img_bg">haha</div>-->
                        <!--<div class="img_bot_test">-->
                        <!--<a href="#">编辑</a>-->
                        <!--<a href="#">预览</a>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>

                    <p class="text projectinfo" data-toggle="modal" data-target="#myModal">
                        <span><%= projects[i].projectInfo.name %></span>
                        <span hidden class="day"><%= projects[i].projectInfo.lastModifiedTime %></span>
                    </p>
                </li>
                <%}%>
                <!-- webProFlag_end -->

            </ul>
        </div>
        <!--<div class="main">-->
            <!--<div class="top">-->
                <!--<span calss="pro">CAN配置项目</span>-->
            <!--</div>-->
            <!--<div class="all">-->
                <!--&lt;!&ndash; Modal &ndash;&gt;-->
                <!--<div class="modal fade" id="myCANModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">-->
                    <!--<div class="modal-dialog" role="document">-->
                        <!--<div class="modal-content">-->
                            <!--<div class="modal-header">-->
                                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                                <!--<h4 class="modal-title" id="myModalLabel">基础选项</h4>-->
                            <!--</div>-->
                            <!--<div class="modal-body">-->
                                <!--<div class="job">-->
                                    <!--<span class="modal-label col-lg-2">名称</span><input id="CAN-basicinfo-title" type="text" autocomplete="off" placeholder="项目名称" class="modal_input col-lg-10" />-->
                                <!--</div>-->
                                <!--<div class="job">-->
                                    <!--<span class="modal-label col-lg-2">作者</span><input id="CAN-basicinfo-author" type="text" placeholder="" class="modal_input col-lg-10" />-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="modal-footer">-->
                                <!--<button id="CAN-modal-ok" type="button" class="btn btn-primary" data-dismiss="modal">创建</button>-->
                                <!--<button id="CAN-modal-cancel" type="button" class="btn btn-default" data-dismiss="modal">取消</button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<ul class="projectlist" id="CANProjectlist">-->
                    <!--<li id="addCANproject" class="addproject">-->
                        <!--<a href="#">-->
                            <!--<div class="img1 btn btn-primary btn-lg"  data-toggle="modal" data-target="#myCANModal">-->
                                <!--<i class="iconfont">&#xe606;</i>-->
                            <!--</div>-->
                        <!--</a>-->
                        <!--<p class="text">创建项目</p>-->
                    <!--</li>-->
                    <!--&lt;!&ndash; webProFlag &ndash;&gt;-->
                    <!--<%for(var i=0;i<CANProjects.length;i++){%>-->
                    <!--<li data-project='<%= JSON.stringify(CANProjects[i].CANProjectInfo) %>'  class="CANProjectPanel">-->
                        <!--<div class="img">-->
                            <!--<i class="CANProjectdelete iconfont">&#xe607;</i>-->
                            <!--<a href="#"><img src="../../public/login/assets/img/pro_2.png"/></a>-->
                        <!--</div>-->

                        <!--<p class="text projectinfo" data-toggle="modal" data-target="#myCANModal">-->
                            <!--<span><%= CANProjects[i].CANProjectInfo.name %></span>-->
                            <!--<span hidden class="day"><%= CANProjects[i].CANProjectInfo.lastModifiedTime %></span>-->
                        <!--</p>-->
                    <!--</li>-->
                    <!--<%}%>-->
                    <!--&lt;!&ndash; webProFlag_end &ndash;&gt;-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <div id="updater_wrapper">
        <div class="displayInfo">
            <p id="updateInfoText"></p>
            <div id="myprogressBackground">
                <div id="myprogress"></div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                    <h4 class="modal-title" id="myModalLabel">上传本地工程</h4>
                </div>
                <div class="modal-body">
                    <p>合法的本地工程，确定上传？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="confirmReleaseBtn">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelReleaseBtn">取消</button>
                </div>
            </div>
        </div>
    </div>

    <script>
//        for local

        try{
            var os = require('os');
            var mainhref = document.getElementById('mainhref');
            mainhref.setAttribute('href','#');
            var iconDropdown = document.getElementById('icon-dropdown');
            iconDropdown.parentNode.removeChild(iconDropdown);
        }catch (e){

        }

    </script>

</body>
<script src="../../public/general/js/versionTag.js"></script>
<script src="../../public/general/js/browserCheck.js"></script>
<script src="../../public/nw/menubar.js"></script>
<script src="../../public/login/assets/js/dragFolder.js"></script>
<!--<script src="../../public/login/assets/js/perProCtrol.js"></script>-->
</html>