<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>编辑日志</title>
    <link rel="stylesheet" href="../../public/blog/libs/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../public/blog/css/index.css">
    <link href="../../public/login/assets/css/style.css" rel="stylesheet"/>

    <link rel="stylesheet" href="../../public/updateLog/css/updateLog.css"/>
    <script src="../../public/blog/libs/jquery-3.1.1.min.js"></script>
    <script src="../../public/blog/libs/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="../../public/updateLog/js/updateLog.js"></script>
</head>
<body>
<header class="nav-top">
    <% include header.html %>
</header>
<div class="container-fluid" style="margin-top: 50px">
    <div class="release-log-wrap col-lg-12">
        <div class="release-log-content" id="release-log-content" data-id="<%= logData.id %>">
            <form class="form" name="release-log">
                <div class="row release-form-item">
                    <label for="release-log-title">标题</label>
                    <input type="text" id="release-log-title" class="form-control" maxlength="50" value="<%= logData.title %>"/>
                </div>
                <div class="row release-form-item">
                    <label for="release-log-explain">说明</label>
                    <textarea name="explain" id="release-log-explain" cols="50" rows="5" maxlength="250" class="form-control"><%= logData.explain %></textarea>
                </div>
                <div class="row release-form-item">
                    <div><label>具体内容</label></div>
                    <div class="col-lg-2">
                        <select name="type" id="release-log-type" class="form-control">
                            <option>修复</option>
                            <option>优化</option>
                            <option>新增</option>
                            <option>调整</option>
                            <option>升级</option>
                            <option>移除</option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <textarea name="log-content-text" id="release-log-content-text" cols="100" rows="3" class="form-control" maxlength="250"></textarea>
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-default" id="add-log-content" type="button" style="width: 100px">添加</button>
                    </div>
                </div>
                <div class="row release-form-item">
                    <div class="col-lg-8">
                        <div class="release-log-list-wrap">
                            <ol id="release-log-list">
                                <%for(var i=0;i<logData.content.length;i++){%>
                                <li><span class='log-type-bar'><%= logData.content[i].type %></span><span class='release-log-value'><%= logData.content[i].content %></span><span class='delete-release-list'>&times;</span></li>
                                <%}%>
                            </ol>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container-fluid" style="width: 100%">
        <button class="btn btn-danger" id="confirm-edit">确认修改</button>
    </div>
</div>
</body>
</html>