<nav class="index-top-nav clearfix">
    <a class="top-nav__logo" href="/"><img src="../../public/login/assets/images/logo.png"/></a>
    <ul class="top-nav__menu-list">
        <li class="top-menu__item">
            <a href="/">首页</a>
        </li>
        <li class="top-menu__item">
            <a href="/update-log">更新日志</a>
        </li>
        <li class="top-menu__item">
            <a href="/update-log/release">发布日志</a>
        </li>
        <li class="top-menu__item">
            <a href="/update-log/manage">管理日志</a>
        </li>
    </ul>
</nav>