<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>回收站</title>
    <link rel="stylesheet" href="../../public/font/iconfont/iconfont.css" type="text/css" />
    <link href="../../public/login/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../public/ide/lib/toastr/toastr.min.css" type="text/css" />
    <link rel="stylesheet" href="../../public/recycle/css/recycle.css"/>
    <script src="../../public/login/assets/js/jquery-1.10.2.min.js"></script>
    <script src="../../public/login/assets/js/bootstrap.min.js"></script>
    <script src="../../public/login/assets/js/ejs_production.js"></script>
    <script src="../../public/ide/lib/toastr/toastr.min.js"></script>
    <script src="../../public/recycle/js/recycle.js"></script>
</head>
<body>
    <header class="project-top-nav">
        <% include header.html %>
    </header>

    <div class="recycle-wrap">
        <div class="recycle-content">
            <div class="recycle__clear">
                <div class="clear-recycle">
                    <button class="btn btn-danger" id="clear" data-toggle="modal" data-target="#clear-modal">
                        <span class="iconfont">&#xe627; </span>清空回收站
                    </button>
                </div>
            </div>
            <ul class="recycle-list" id="recycle-list">
                <li class="recycle-list_item clearfix recycle-list_item-title">
                    <div class="col col-1">工程名称</div>
                    <div class="col col-2">删除时间</div>
                    <div class="col col-3">有效期</div>
                    <div class="col col-4">操作</div>
                </li>
                <%for(var i=0;i<projects.length;i++){%>
                <li class="recycle-list_item clearfix project" project-id="<%= projects[i].projectInfo._id %>">
                    <div class="col col-1 recycle_name"><%= projects[i].projectInfo.name %></div>
                    <div class="col col-2 recycle_delete-time"><%= projects[i].projectInfo.recycleTime %></div>
                    <div class="col col-3 recycle_valid-time"><%= projects[i].projectInfo.indate %>天</div>
                    <div class="col col-4 recycle_operate">
                        <span class="iconfont refund" title="恢复">&#xe67d;</span>
                        <span class="iconfont delete" title="彻底删除">&#xe627;</span>
                    </div>
                </li>
                <%}%>
            </ul>
        </div>
    </div>

<!--模态框-->
    <!--删除-->
    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myFolderLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">删除</h4>
                </div>
                <div class="modal-body">
                    <p class="modal-prompt">文件删除后无法恢复，您确认要彻底删除所选文件吗？</p>
                </div>
                <div class="modal-footer">
                    <button id="delete-confirm" type="button" class="btn-confirm modal-btn" data-dismiss="modal">确认</button>
                    <button id="delete-cancel" type="button" class="modal-btn" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!--恢复-->
    <div class="modal fade" id="refund-modal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myFolderLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myFolderLabel">恢复</h4>
                </div>
                <div class="modal-body">
                    <p class="modal-prompt">确认恢复所选文件？</p>
                    <p class="modal-prompt">恢复后返回个人空间刷新即可！</p>
                </div>
                <div class="modal-footer">
                    <button id="refund-confirm" type="button" class="btn-confirm modal-btn" data-dismiss="modal">确认</button>
                    <button id="refund-cancel" type="button" class="modal-btn" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!--恢复-->
    <div class="modal fade" id="clear-modal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myFolderLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">清空回收站</h4>
                </div>
                <div class="modal-body">
                    <p class="modal-prompt">确认删除回收站里的所有文件？</p>
                </div>
                <div class="modal-footer">
                    <button id="clear-confirm" type="button" class="btn-confirm modal-btn" data-dismiss="modal">确认</button>
                    <button id="clear-cancel" type="button" class="modal-btn" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>