/*my-attr-item 最小模块 主要对属性中的span input 进行修改*/
.dengPage-attrbute-container{
    background-color: rgb(247,247,247);
}

.dengPage-attrbute-container .my-attr-item span{
     margin: 0px 0%;
     width: 60px;
     font-size: 12px;
}
.dengPage-attrbute-container .my-attr-item input{
    width: 100%;
    height: 28px;
    font-size: 12px;
}
.dengPage-attrbute-container .my-attr-item .short-input {
    width: 90%;
    float: left;
}
.dengPage-attrbute-container .item-left{

}
.dengPage-attrbute-container .my-attr-item select{
    width: 100%;
    height: 28px;
    font-size: 12px;
    margin-left: 10px;
}
.dengPage-attrbute-container .my-attr-item button{
     width: 100%;
     height: 28px;
     font-size: 12px;
 }
/* tex-container  修改 属性 中的纹理模块*/
.tex-container .my-attr-title{
    margin: 0px 0px;
    width: 60px;
    font-size: 12px;
}
.tex-container ul{
    list-style: none;
    background-color: white;
    padding-left: 0;
}
.tex-container li{
    background-color: white;
    border: 1px solid;
    border-color: lightgrey;

    font-size: 14px;
    min-height: 25px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;

    /*edit by lixang*/
    border-radius: 4px;
}
.tex-container li div{
    width: 60%;
    font-size: 14px;
    display: inline-block;
}
.tex-container li span{
    font-size: 15px;
    opacity: .5;
    float: right;
    margin-right: 7%;
}
.tex-container li span:hover{
    opacity: 1;
    cursor: default;
}

.dengPage-attrbute-container .my-attr-item .dengPage-title-input{
    text-align: left;
}

.dengPage-attrbute-container .my-attr-title{
    width: 40px;
}

.dengPage-attrbute-container .my-attr-item .dengPage-color-input{
    height: 28px;
    text-align: center;
}

.dengPage-attrbute-container .my-attr-item .dengPage-input{
    width: calc( 100% - 0px);
    height: 28px;
}

.dengPage-attrbute-container .my-attr-item .deng-bgTags span{
    text-align: center;
}
.dengPage-attrbute-container .my-attr-item .deng-bgTags select{
    height: 28px;
    display: inline;
    width: calc(100% - 45px);
}

.dengPage-attrbute-container .my-attr-number-input{
    width: calc(100% - 40px);

}



.dengPage-attrbute-container .dengPage-addAction{
    margin-left: 0px;
    height: 28px;
    font-size: 12px;
    float: right;
}

.dengPage-attrbute-container .glyphicon{
    display: block;
    width: 15px;
    top: -12px;
}
.dengPage-Action-Title{
    margin-left: 20px;
    font-size: 12px;
    position: relative;
    top: 4px;
}
.dengPage-attrbute-container .ng-scope .dengPage-Actionlist{
    border: 0px solid;
    border-color: lightgrey;
    background-color: white;
    max-height: 180px;
    overflow: auto;
    list-style: none;
    padding-left: 0px;
}
.dengPage-attrbute-container .ng-scope .dengPage-Actionlist li{
    border: 1px solid;
    border-color: lightgrey;
    /*添加了圆角 lixiang*/
    border-radius: 4px;

    min-height: 25px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 0px;
}

.dengPage-attrbute-container .ng-scope .dengPage-Actionlist li:hover{
    background-color:#e0e0e0;
}

/*改用垃圾箱图片，并显示小手 lixiang*/
.dengPage-attrbute-container .ng-scope .dengPage-Actionlist li i{
    background-color:transparent;
    padding:0 5px;
    float: right;
    margin-right: 10px;
    width: 28px;
    opacity: .5;
    cursor: pointer;
}
.dengPage-attrbute-container .ng-scope .dengPage-Actionlist li span{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 125px;
    white-space: nowrap;
    display: inline-block;
}

.dengPage-attrbute-container .ng-scope .dengPage-Actionlist li img:hover{
    opacity: 1;
}
.dengModel-body .modelPart{
    margin-bottom: 10px;
}
.dengModel-body .modal-title input{
    height: 32px;
    font-size: 12px;
}

.dengModel-body .modal-title span{
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
}

.dengModel-body .modal-title .dengModel-trigger{
    width: 125px;
}

.dengModel-body .dengModal-table span{
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
}

.dengModel-body .dengModal-table td{
    padding-left: 0;
    padding-right: 16px;

}

.dengModel-body .dengModal-table tbody>tr>:nth-child(1){
    width: 15%;
}
.dengModel-body .dengModal-table tbody>tr>:nth-child(2){
    width: 30%;
}
.dengModel-body .dengModal-table tbody>tr>:nth-child(3){
    width: 55%;
    padding-right: 0px;
}

.dengModel-body .dengModal-table input{
    font-size: 16px;
}

.dengModel-body .dengModal-table td select{
    width: 100%;
}


.dengModel-body .dengModal-table-display{
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 0px;
}
.dengModel-body .add-option{
    margin-top: 20px;
}
.dengModel-body .dengModal-table-display table{
    margin-left: 10%;
    margin-bottom: 0px;
    width: 80%;
}

.dengModel-body .dengModal-table-display tr td{
    padding-top: 6px;
    padding-bottom: 5px;
    width: 10%;
    font-size: 14px;
}
.dengModel-body .dengModal-table-display tr>:nth-child(n){
    padding-top: 6px;
    padding-bottom: 5px;
    width: 10%;
    font-size: 14px;
}

.dengModel-body .dengModal-table-display tr>:nth-child(3) {
    width: 25%;

}
.dengModel-body .dengModal-table-display tr>:nth-child(3) p{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 125px;
    white-space: nowrap;
    margin-bottom: 0;
}

.dengModel-body .dengModal-table-display tr>:nth-child(4) {
    width: 45%;
}
.dengModel-body .dengModal-table-display tr>:nth-child(4) p{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 325px;
    white-space: nowrap;
    margin-bottom: 0;
}

.dengModel-body .dengModal-table-display tr>:nth-child(5) img{
    background-color: transparent;
    width: 20px;
    opacity: .5;
}
.dengModel-body .dengModal-table-display tr>:nth-child(5) img:hover{
    opacity: 1;
}

.deng-pannel-item{
    background-color: rgb(247,247,247);
}

.deng-pannel-item span{
    font-size: 12px;
}
.deng-pannel-item .dropdown button{
    margin-bottom: 10px;
    width: 100%;
    height: 28px;
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0;
}

.deng-pannel-item .dropdown ul{
    margin: 0;
    padding: 0;
}

.deng-pannel-item .TimeCtrl input{
    width: 100%;
    height: 28px;
    text-align: right;
    padding: 0;
    font-size: 14px;
    margin-bottom: 10px;
}
.deng-attr-item .tag-title-group{
    margin-bottom: 0;
}
.deng-attr-item .tag-title-group input{
    width: 100%;
    height: 28px;
    font-size: 14px;
    margin-bottom: 5px;
}

.deng-attr-item .input-group-btn{
    padding-bottom: 10px;
}
.deng-attr-item .input-group-btn div{
    top:0;
    height: 28px;
    width: 40px;
    padding:0;
}

.deng-attr-item .input-group-btn button{
    height: 28px;
    width: 40px;
    padding:0;
    margin-left: 40px;
}
.deng-attr-item .input-group-btn .myCollapse{
    height: 10px;
    margin-top: -20px;
}

.deng-pannel-item .deng-tags button{
    height: 28px;
    font-size: 12px;
    float: right;
}
.deng-pannel-item .deng-tags .addTag-container{
    padding-bottom: 15px;
}

.deng-attr-item .listTable-container{
    max-height: 280px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;

}
.deng-attr-item .listTable{
    width: 100%;
    /*border: 0px solid;*/
    /*border-color: lightgrey;*/
    margin-bottom: 0;
}
.deng-attr-item .listTable >tbody>tr{
    /*border: 1px solid;*/
    /*border-color: rgb(225,225,225);*/
    /*border-top: 0px*/
}

/*edit by lixiang*/
.deng-attr-item .listTable >tbody>tr:first-child >td{
    border-top: 0px;
}


.deng-attr-item .listTable >tbody>:first-child{
    /*border: 1px solid;*/
    /*border-color: rgb(225,225,225);*/
}


.deng-attr-item .listTable >tbody>tr:hover{
    background-color: #e0e0e0;
}
.deng-attr-item .listTable td{
    /*padding-top:4px;*/
    /*padding-bottom:4px ;*/
    padding: 4px;
}
.deng-attr-item .listTable td:nth-child(2) {
    /*background: #cccc99;*/
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}
.deng-attr-item .listTable tr .tagName{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 125px;
    width:120px;
    white-space: nowrap;
}
.deng-attr-item .listTable tr .tagReg{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    width:100px;
    white-space: nowrap;
}
.deng-attr-item .listTable tr .icon-close {
    width: 20px;
    float: right;
    opacity: .5;
}
.deng-attr-item .listTable tr .icon-close:hover{
    opacity: 1;
}

.deng-attr-item .listTable td button{
    padding: 0;
    width: 20px;
    font-size: 10px;
    border: 0;
    background-color: transparent;
}
.deng-attr-item .myRegister{
    padding-top: 5px;
}
.deng-attr-item .myRegister label{
    font-size: 12px;
}
.deng-attr-item .deng-register{
    border: 1px solid;
    padding: 5px 5px;
}

.deng-attr-item .deng-register .form-group{
    margin-bottom: 5px;
}

.deng-attr-item .deng-register .form-group span{
    margin-right: 8px;
}

.deng-attr-item .deng-register .form-group input{
    margin-bottom: 0;
    height: 28px;
    width: calc(100% - 40px);
    display: inline;
}


.my-img-table thead tr td{
    font-size: 12px;
    padding: 4px 8px;
}

.my-img-table thead tr>:nth-child(2){
    min-width: 120px;
}

.my-img-table .img-info{
    background-color: white;
}
.my-img-table .img-info:hover{
    background-color: #e0e0e0;;
}
.my-img-table .img-info td{
    padding: 8px 8px;
}
.my-img-table tbody tr>:nth-child(1){
    padding-left: 12px;
    padding-right: 4px;
}
.my-img-table tbody tr>:nth-child(2) span{
    color:lightslategrey;
}

.my-img-table .img-info .img-name{
    background: transparent;
}
.my-img-table .img-info .img-option{
    opacity: .8;
    cursor: default;
}
.my-img-table .img-info .img-option:hover{
    color: #0f0f0f;
}

.deng-tagModel .tag-modal-label{
    font-size: 12px;
    width: 100%;
    padding-left: 0;
}
.deng-tagModel .col-sm-8{
    height: 28px;
    margin-bottom: 10px;
}

.deng-tagModel .register-activate-box{
    margin-top: 0px;
}
.deng-bg-table {
    max-height: 534px;
    overflow: auto;
}
.deng-bg-table thead tr td{
    font-size: 12px;
}
.deng-bg-table tr td {
    padding: 8px 8px;
}
.deng-bg-table tr td input{
    height: 28px;
    font-size: 14px;
}
.deng-bg-table tr td select{
    height: 28px;
}


.deng-bg-table tr>:nth-child(1){
    width: 5%;
}
.deng-bg-table tr>:nth-child(2){
    width: 18%;
}
.deng-bg-table tr>:nth-child(3){
    width: 18%;
}
.deng-bg-table tr>:nth-child(4){
    width: 18%;
}
.deng-bg-table tr>:nth-child(5){
    width: 18%;
}
.deng-bg-table tr>:nth-child(6) span{
    font-size: 30px;
    opacity: .5;
}
.deng-bg-table tr>:nth-child(6) span:hover{
    opacity: 1;
    cursor: default;
}

.my-bottom-panel .my-layers-panel{
    /*height: 386px;*/
}
