.xiangPage-title{
    font-size: 12px;
}
.xiangPage-textArea-container{
    background-color: rgb(247,247,247);
}
.xiangPage-textArea-container .my-attr-item .xiangPage-dropdown-button{
    width: 100%;
    height: 28px;
    font-size: 12px;
}
.xiangPage-dropdown span{
    width: 30px;
}

.xiangPage-dropdown input{
    height: 28px;
    width: 128px;
    border: 0;
    font-size:14px
}

.xiangPage-selected {
    width: 100%;
    height: 28px;
    font-size: 12px;
}
.my-attr-item .my-cmd-item{
    cursor: pointer;
    padding: 7px 5px 5px 5px;
    color: #1C2B4B;
    width: 15%;
    font-size:16px;
}
.my-attr-item .inactive{
    color: #B2BCBA;
    cursor: pointer;
}
.my-attr-item.active{
    color:#373F42;
    cursor:pointer;
}
.my-attr-item.xiangPage-fontfamily{
    width:70%
}
.my-attr-item.xiangPage-fontStyle{
    width:30%
}

.my-attr-item.xiangPage-fontStyle span{
    display: inline-block;
    font-size: 16px;
}
.my-attr-item.xiangPage-fontStyle a{
    display: inline-block;
    width: 40%;

}
.my-stage>table>tbody>tr>td{
    background-color: lightgray;
}

.my-stage .subCanvas{
    position:relative;
    display:inline-block;
    margin:20px 0px;
}
.my-stage .subCanvas>canvas{
    position:absolute;left:0;top:0
}


/*遮盖，用于分享的工程，有人同时登录时展示*/
div.wrapper-custom{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 997;
    background-color: whitesmoke;
}

.container-custom{
    max-width: 730px;
}

.jumbotron h2{
    text-align: center;
}