<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Blog Editor</title>
    <script type="text/javascript" src="../../public/blog/libs/clipboard/clipboard.min.js"></script>
    <script type="text/javascript" src="../../public/blog/libs/jquery-3.1.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../../public/blog/libs/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/blog/libs/jquery-confirm/jquery-confirm.min.css">

    <script type="text/javascript" src ="../../public/blog/libs/bootstrap-3.3.7/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="../../public/blog/libs/summernote/summernote.css">
    <!--<link rel="stylesheet" type="text/css" href="../../public/blog/css/editor.css">-->
    <script type="text/javascript" src="../../public/blog/libs/summernote.js"></script>
    <script type="text/javascript" src="../../public/blog/libs/summernote/lang/summernote-zh-CN.js"></script>
    <link rel="stylesheet" type="text/css" href="../../public/blog/css/blog.css">
</head>
<body style="background-color: #f5f4f6;">
    <header style="border-bottom: 1px solid #cccccc">
        <% include header.html %>
    </header>

    <div class="release-wrap row container">
        <div class="editor-info-wrapper">
            <div>
                <form class="form">
                    <div class="row blog-row">
                        <span class="blog-label">标&emsp;题 :</span><input id="title" class=" blog-input form-group" />
                    </div>
                    <div class="row blog-row">
                        <span class="blog-label">说&emsp;明 :</span><input id="desp" class="blog-input" />
                    </div>
                    <div class="row blog-row">
                        <span class="blog-label">密&emsp;码 :</span><input id="keyword" class="blog-input" />
                    </div>
                    <div class="row blog-row">
                        <span class="blog-label">分&emsp;类 :</span>
                        <select id="category" class="blog-input">
                            <option value="technology">技术</option>
                            <option value="design">设计</option>
                            <option value="update">更新</option>
                            <option value="product">产品</option>
                            <option value="other">其它</option>
                        </select>
                    </div>
                    <div class="row blog-row">
                        <button id="publish" class="btn btn-success" style="margin-right: 50px">发布</button>
                        <button id="save" class="btn btn-info">保存</button>
                    </div>
                    <div class="editor-status-wrapper">
                        <span class="editor-status"></span>
                    </div>
                </form>
            </div>
        </div>
        <div class="editor-wrapper">
            <div id="summernote"></div>
        </div>
    </div>

    <script src="../../public/blog/js/customSN.js"></script>
    <script src="../../public/blog/js/blogEditor.js"></script>
</body>
</html>