/*<<IDE编辑界面>>*/

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: SOURCEHANSANSCN-NORMAL;
    src: url('../../../../font/custom/SOURCEHANSANSCN-NORMAL.woff') format('woff2'),
    url('../../../../font/custom/SOURCEHANSANSCN-NORMAL.woff2') format('woff2')
}

a, a:hover, a:focus {
    text-decoration: none;
}

button[disabled], html input[disabled] {
    cursor: not-allowed;
}

ul > li {
    list-style: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.c-p {
    cursor: pointer;
}

.p-0 {
    padding: 0;
}

.m-0 {
    margin: 0;
}

.hide {
    display: none;
}

.font-b {
    font-weight: bold;
}

body {
    width: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    border: none;
    font-family: SOURCEHANSANSCN-NORMAL, Arial, sans-serif;
}

/*清除浮动影响*/
.clearfix:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}

.clearfix {
    zoom: 1;
}

/*滚动条*/
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.my-mask.my-hidden {
    visibility: hidden;
}

.content-wrap {
    padding-left: 0;
    padding-right: 0;
    font-weight: 500;
    min-width: 1280px;
    min-height: 660px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}

/*###loading动画###*/
.loading-wrap {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #005599;
    z-index: 9999999999;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-inner {
    width: 100%;
    color: #FFF;
    text-align: center;
}

.loading-inner span {
    margin: 12px;
    opacity: 0;
    padding: 6px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
}

.loading-inner span:nth-child(1) {
    -webkit-animation: loader 3s 700ms infinite ease-in-out;
    animation: loader 3s 700ms infinite ease-in-out;
}

.loading-inner span:nth-child(2) {
    -webkit-animation: loader 3s 600ms infinite ease-in-out;
    animation: loader 3s 600ms infinite ease-in-out;
}

.loading-inner span:nth-child(3) {
    -webkit-animation: loader 3s 500ms infinite ease-in-out;
    animation: loader 3s 500ms infinite ease-in-out;
}

.loading-inner span:nth-child(4) {
    -webkit-animation: loader 3s 400ms infinite ease-in-out;
    animation: loader 3s 400ms infinite ease-in-out;
}

.loading-inner span:nth-child(5) {
    -webkit-animation: loader 3s 300ms infinite ease-in-out;
    animation: loader 3s 300ms infinite ease-in-out;
}

.loading-inner span:nth-child(6) {
    -webkit-animation: loader 3s 200ms infinite ease-in-out;
    animation: loader 3s 200ms infinite ease-in-out;
}

@keyframes loader {
    0% {
        opacity: 0;
        transform: matrix3d(1, 0, 0.00, 0, 0.00, 1, 0.00, 0, 0, 0, 1, 0, -300, 0, 0, 1);
        -webkit-transform: matrix3d(1, 0, 0.00, 0, 0.00, 1, 0.00, 0, 0, 0, 1, 0, -300, 0, 0, 1);
    }
    33% {
        opacity: 1;
        transform: matrix3d(2, 0, 0.00, 0, 0.00, 2, 0.00, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(2, 0, 0.00, 0, 0.00, 2, 0.00, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    66% {
        opacity: 1;
        transform: matrix3d(1, 0, 0.00, 0, 0.00, 1, 0.00, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1, 0, 0.00, 0, 0.00, 1, 0.00, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
        opacity: 0;
        transform: matrix3d(2, 0, 0.00, 0, 0.00, 2, 0.00, 0, 0, 0, 1, 0, 300, 0, 0, 1);
        -webkit-transform: matrix3d(2, 0, 0.00, 0, 0.00, 2, 0.00, 0, 0, 0, 1, 0, 300, 0, 0, 1);
    }
}

@-webkit-keyframes loader {
    0% {
        opacity: 0;
        transform: matrix3d(1, 0, 0.00, 0, 0.00, 1, 0.00, 0, 0, 0, 1, 0, -300, 0, 0, 1);
        -webkit-transform: matrix3d(1, 0, 0.00, 0, 0.00, 1, 0.00, 0, 0, 0, 1, 0, -300, 0, 0, 1);
    }
    33% {
        opacity: 1;
        transform: matrix3d(2, 0, 0.00, 0, 0.00, 2, 0.00, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(2, 0, 0.00, 0, 0.00, 2, 0.00, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    66% {
        opacity: 1;
        transform: matrix3d(1, 0, 0.00, 0, 0.00, 1, 0.00, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        -webkit-transform: matrix3d(1, 0, 0.00, 0, 0.00, 1, 0.00, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
        opacity: 0;
        transform: matrix3d(2, 0, 0.00, 0, 0.00, 2, 0.00, 0, 0, 0, 1, 0, 300, 0, 0, 1);
        -webkit-transform: matrix3d(2, 0, 0.00, 0, 0.00, 2, 0.00, 0, 0, 0, 1, 0, 300, 0, 0, 1);
    }
}

/*###顶部导航栏###*/
.top-nav.navbar {
    height: 28px !important;
    min-height: 0 !important;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    position: relative;
}

.top-nav-tabs {
    width: inherit;
    height: inherit;
    background: #bfbfbf;
    border: 0;
}

.top-nav-logo {
    width: 66px;
    height: 22px;
    padding: 0;
    margin: 2px 46px 0 20px;
}

.top-nav-logo > img {
    height: inherit;
}

.top-nav-personal {
    line-height: 28px;
    font-size: 16px;
    height: 28px;
    position: absolute;
    right: 66px;
    top: 0;
}

.top-personal-content {
    display: block;
    height: 28px;
    color: #707070;
    padding: 0 0 0 24px !important;
    background: url("../images/personal.png") 0 5px/16px 17px no-repeat;
    vertical-align: middle;
}

.top-personal-content:focus {
    color: #707070 !important;
}

.top-nav-personal:hover .top-personal-content {
    color: #005599 !important;
    background: url("../images/personal-active.png") 0 5px/16px 17px no-repeat;
}

.top-nav-menu__title {
    height: 100%;
    position: relative;
}

.top-nav-tabs > li > a {
    padding: 0 12px;
    margin: 0;
    color: #707070;
    height: 100%;
    line-height: 26px;
    font-size: 16px;
    white-space: nowrap;
    text-align: center;
    border-radius: 0;
    border: 1px solid transparent;
    box-sizing: border-box;
}

.top-nav-tabs > li > a:focus, .top-nav-tabs > li > a:hover {
    background: #dcdcdc;
    color: white;
    border: 1px solid transparent;
}

.top-nav-tabs > li.active > a, .top-nav-tabs > li.active > a:focus, .top-nav-tabs > li.active > a:hover {
    color: #005599;
    background-color: #fcfcfc;
    border: 1px solid #dcdcdc;
    border-bottom: 0;
}

/*顶部菜单content*/
.top-nav-menu__content {
    width: 100%;
    height: 56px;
    border-bottom: 1px solid #dcdcdc;
    -webkit-transition: height .2s;
    -moz-transition: height .2s;
    -ms-transition: height .2s;
    -o-transition: height .2s;
    transition: height .2s;
    box-sizing: border-box;
}

.top-nav-menu__content.top-menu-content-show {
    height: 56px;
}

.top-nav-menu__content.top-menu-content-hide {
    overflow: hidden;
    height: 0;
}

.top-menu-content__item {
    width: 100%;
    height: 56px;
}

.top-menu-content__item-title > img {
    padding: 6px 18px 0 18px;
}

.top-menu-content__item-title {
    cursor: pointer;
    display: inline-block;
    width: 4%;
    min-width: 72px;
    height: 50px;
    text-align: center;
    /* overflow: hidden; */
}

.top-menu-content__item-title-group {
    display: inline-block;
    cursor: pointer;
}

.top-menu-content__item-title-g {
    cursor: pointer;
    width: 4%;
    min-width: 72px;
    height: 50px;
    text-align: center;
}

.top-menu-content__item-title:first-of-type {
    margin-left: 22px;
}

/*菜单列表鼠标悬停效果,更换颜色和背景图*/
/*不可用状态*/
.top-menu-content__item-title > .active-title, .top-menu-content__item-title-g > .active-title {
    display: none;
}

.top-menu-content__item-title.inactive > p, .top-menu-content__item-title-g.inactive > p {
    color: #cccccc;
}

.top-menu-content__item-title > .inactive-title, .top-menu-content__item-title-g > .inactive-title {
    display: none;
}

.top-menu-content__item-title.inactive > .default-title, .top-menu-content__item-title-g.inactive > .default-title {
    display: none;
}

.top-menu-content__item-title.inactive > .inactive-title, .top-menu-content__item-title-g.inactive > .inactive-title {
    display: inline-block;
}

/*菜单默认状态*/
.top-menu-content__item-title > p, .top-menu-content__item-title-g > p {
    font-size: 12px;
    color: #707070;
    margin: 6px 0;
}

.top-menu-content__item-title:not(.inactive):hover > p, .top-menu-content__item-title-g:not(.inactive):hover > p {
    color: #005599;
}

.top-menu-content__item-title:not(.inactive):hover > .active-title, .top-menu-content__item-title-g:not(.inactive):hover > .active-title {
    display: inline-block;
}

.top-menu-content__item-title:hover > .default-title, .top-menu-content__item-title-g:hover > .default-title {
    display: none;
}

/*控件*/
.top-menu-content__widget-list {
    padding: 0 20px 14px 20px;
    width: 282px;
    box-sizing: border-box;
}

.top-menu-content__widget-list .inactive {
    display: none;
}

.leftBottomContainer__widgetList .inactive{
    display: none;
}

.widget-list__item {
    display: inline-block;
    width: 60px;
    text-align: center;
    cursor: pointer;
    height: 50px;
    margin-top: 14px;
    position: relative;
}

.widget-list__item:hover > p {
    color: #005599;
}

.widget-list__item > p {
    font-size: 12px;
    color: #707070;
    margin: 6px 0;
}

.widget-list__item > img {
    padding: 6px 18px 0 18px;
}

.change-index-wrap {
    padding: 0px 30px;
    line-height: 30px;
}

.change-index-wrap > li {
    color: #707070;
}

.change-index-wrap > li:hover {
    color: #005599;
}

/*生成导出工程*/
.export-project__ratio > span, .export-project__ratio > input {
    display: inline-block;
    vertical-align: 1px;
}

/*###导航下方显示视图公共样式###*/
.leftContainer, .stage-wrap, .attribute-wrap {
    -webkit-transition: height .2s, width .2s;
    -moz-transition: height .2s, width .2s;
    -ms-transition: height .2s, width .2s;
    -o-transition: height .2s, width .2s;
    transition: height .2s, width .2s;
    float: left;
}

/*###左侧page缩略图###*/
.leftContainer{
    width: 14%;
    height: calc(100% - 28px);
    background-color: #fcfcfc;
    box-sizing: border-box;
    position: relative;
}

.leftUpperContainer,.leftBottomContainer{
    width:100%;
    /* height:50%;
    overflow-y: auto; */
}

.leftBottomContainer{
    position: absolute;
    height: 50%;
    bottom:0;
    border:1px solid #ddd;
    box-sizing: border-box;
    -webkit-transition: height .2s linear;
    -moz-transition: height .2s linear;
    -ms-transition: height .2s linear;
    -o-transition: height .2s linear;
    transition: height .2s linear;
}

.leftBottomContainer.leftBottomContainer-shown{
    height:50%;
}
.leftBottomContainer.leftBottomContainer-hide{
    height: 0;
    overflow: hidden;
}

.leftBottomContainer .forbidden{
    cursor: not-allowed;
}

.leftContainer.top-menu-content-show {
    height: calc(100% - 84px);
}

.leftUpperContainer__nav {
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0;
    border: 0;
    border-bottom: 1px solid #dcdcdc !important;
    cursor: pointer;
}

.leftUpperContainer__navitem {
    width: 50%;
    height: 100%;
    line-height: 30px;
    float: left;
    background-color: #bfbfbf;
    font-size: 0.8em;
    text-align: center;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

.leftUpperContainer__navitem:not(:first-of-type) {
    border-left: 1px solid #f5f4f6;
}

.leftUpperContainer__navitem > a {
    display: block;
    height: 100%;
    font-size: 16px;
    color: #707070;
    line-height: 30px;
    margin: 0;
    padding: 0;
    border: 0 ;
    border-radius: 0 ;
}

.leftUpperContainer__navitem.active > a {
    border-radius: 1px;
    background-color: #f5f4f6 ;
    box-sizing: border-box;
    color: #005599 ;
}

.leftUpperContainer__navitem:not(.active) > a:hover {
    background-color: #dcdcdc;
    color: white;
}

.leftBottomContainer__widgetList{
    position: absolute;
    left: 50%;
    overflow-y: scroll;
    height:calc(100% - 30px);
    transform: translateX(-50%);
    width:120px;
    /* max-width: 100%; */
    background: #fcfcfc;
    box-sizing: border-box;
}

@media screen and (min-width:1300px){
    .leftBottomContainer__widgetList{
        width:180px;
    }
}
@media screen and (min-width:1920px){
    .leftBottomContainer__widgetList{
        width:240px;
    }
}


/* @media screen and (min-width:) */

.leftBottomContainer__widgetList::-webkit-scrollbar{
    width: 0;
}

.leftBottomContainer__addWidgetWrap{
    height: 30px;
    cursor: pointer;
    background-color: #bfbfbf;
    box-sizing: border-box;
}

.leftBottomContainer__addWidget{
    line-height: 30px;
    margin-left: 28px;
}

.leftBottomContainer__minimize{
    float:right;
    margin-right: 10px;
}

.leftBottomContainer__indicator{
    bottom:0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 16px;
    background-color: rgba(229, 229, 229, .3);
    text-align: center;
    line-height: 16px;
    border: 1px solid #cccccc;
    border-radius: 3px 3px 0 0;
}

.thumb-wrap-show,.attribute-bottom-content-show{
    display: block;
}

.thumb-wrap-hide,.attribute-bottom-content-hide{
    display: none;
}

.content-wrap.my-left-hide .thumb-wrap {
    width: 0;
}

.thumb-operate {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #dcdcdc;
    text-align: center;
    background-color: #f5f4f6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
    vertical-align: middle;
    position: relative;
}

.thumb-operate__left-hide, .thumb-operate__add-page {
    margin-top: 8px;
    /* float: left; */
    height: 14px;
    /* width: 14px; */
    cursor: pointer;
}

.thumb-operate__left-hide {
    background: url("../images/left-hide.png") 0 0/100% 100% no-repeat;
    margin-left: 5px;
}

.thumb-operate__left-hide:hover {
    background: url("../images/left-hide-active.png") 0 0/100% 100% no-repeat;
    margin-left: 5px;
}

.thumb-operate__add-page {
    /* background: url("../images/add-page.png") 0 0/100% 100% no-repeat;
    margin-left: calc(50% - 7px); */
}

.thumb-operate__add-page:hover {
    /* background: url("../images/add-page-active.png") 0 0/100% 100% no-repeat; */
}

.thumb-content {
    height: calc(100% - 30px);
    box-sizing: border-box;
    position: relative;
}

.thumb-content-list {
    height: 100%;
    padding-bottom: 20px;
    overflow-y: auto;
}

.view-wrap {
    width: 16px;
    height: 50px;
    text-align: center;
    background-color: rgba(229, 229, 229, .6);
    position: absolute;
    box-sizing: border-box;
    z-index: 999;
    cursor: pointer;
    display: none;
}

.view-wrap > img {
    margin-top: 15px;
}

.thumb-view {
    top: calc(50% - 40px);
    right: 0;
    border-radius: 3px 0 0 3px;
    box-shadow: -1px 1px 1px #cccccc;
}

.thumb-view > .open, .content-wrap.my-left-hide .thumb-view > .pack {
    display: none;
}

.thumb-wrap:hover .thumb-view, .content-wrap.my-left-hide .thumb-view, .content-wrap.my-left-hide .thumb-view > .open {
    display: block !important;
}

.content-wrap.my-left-hide .thumb-view {
    right: -16px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #cccccc;
    box-shadow: none;
}

.thumb-content-list__item {
    padding: 20px 5px 20px 15px;
    text-align: center;
    position: relative;
}

.thumb-content-list__item-index {
    position: absolute;
    top: calc(50% - 15px);
    left: 15px;
    color: #005599;
    font-size: 16px;
}

.thumb-content-list__item-img {
    width: 75%;
    -webkit-user-drag: none;
}

.thumb-content-list__item.active {
    background-color: #dbdbdb;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
}

.thumb-content-list__item.unfocus {
    background-color: #D2D2D2;
}

.angular-ui-tree-empty {
    display: none !important;
}

.my-current-thumb {
    border: 2px solid #e5e5e5;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #dcdcdc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*###中间stage###*/
.stage-wrap {
    width: 66%;
    height: calc(100% - 28px);
    background-color: #f5f4f6;
    padding: 0;
    margin: 0;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.stage-wrap.top-menu-content-show {
    height: calc(100% - 84px);
}

.content-wrap.my-left-hide.my-right-hide .stage-wrap {
    width: 100%;
}

.content-wrap.my-left-show.my-right-hide .stage-wrap {
    width: 86%;
}

.content-wrap.my-left-hide.my-right-show .stage-wrap {
    width: 80%;
}

.stage__project-title {
    width: 100%;
    height: 30px;
    background-color: #e5e5e5;
    border-bottom: 1px solid #dcdcdc;
    box-sizing: border-box;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #005599;
}

.stage__view {
    position: absolute;
    top: 0;
    right: 20px;
    height: 30px;
    font-size: 12px;
}

.stage__view-title {
    color: #7d7d7d;
}

.stage__zoom {
    border: 0;
    color: #7d7d7d;
    height: 30px;
    line-height: 30px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.stage__project-title > p {
    font-weight: 600;
    margin: 0;
}

.stage-content-wrap {
    width: 100%;
    /* float: left; */
    height: calc(100% - 30px);
    box-sizing: border-box;
    background-color: #f5f4f6;
    position: relative;
}

.stage-content-wrap-half{
    height: 50%;
    overflow-y: auto;
}

.stage-content {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
}

.stage-content .canvas-container {
    position: relative;
}

.stage-content .subCanvas {
    position: relative;
    display: inline-block;
}

.stage-content .subCanvas > canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.stage__tools {
    width: 100%;
    max-height: 50%;
    overflow-y: auto;
    background-color:#f5f4f6;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    position: absolute;
    bottom: 0;
}

/* animationEditor */

.animationEditor__body {
    /* display: table; */
    clear: both;
    overflow-x: scroll;
    overflow-y: hidden;
}

.animationEditor__row {
    /* display: table-row; */
    /* display: block;
    margin:0;
    padding:0;
    height: 50px;
    background-color: dodgerblue; */
    /* height: 30px; */
    min-width: 1200px;
}

.animationEditor__col {
    /* display:table-column; */
    /* display: inline-block;
    margin:0;
    background-color: grey;
    border:1px solid white; */
    height: 30px;

}

.animationEditor__attributeLabel, .animationEditor__attributeValue {
    display: inline-block;
    width: 40%;
    height: 30px;
    line-height: 30px;
    color: #7d7d7d;
}

.animationEditor__attributeValue {
    border: none;
    background: transparent;
    outline: none;
    text-align: right;

}

.animationEditor__attributeValue::-webkit-inner-spin-button,
.animationEditor__attributeValue::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.animationEditor__attribute, .animationEditor__buttons, .animationEditor__timeLine, .animationEditor__timeLineMarker, .animationEditor__hold {
    /* background-color: grey; */
    border: 1px solid #e5e5e5;
}

/* .animationEditor__hold{
    padding-left:50px;
} */

.animationEditor__attribute, .animationEditor__buttons {
    width: 25%;
}

.animationEditor__button {
    display: inline-block;
    margin: 0 4px;
    height: 30px;
    line-height: 30px;
    border: none;
    box-sizing: border-box;
    background: transparent;
    min-width: 40px;
    color: #7d7d7d;
}

.animationEditor__title {
    padding: 5px 0;
    margin: 5px 0;
    display: inline-block;
}

.animationEditor__cancel, .animationEditor__save {
    /* padding:0; */
    /* outline: none; */
    border: none;
    border-bottom: 1px solid transparent;
    background: transparent;
    color: black;
    padding: 5px;
    margin: 5px 10px;
}

.animationEditor__cancel:hover, .animationEditor__save:hover {
    background: transparent;
    border-bottom: 1px solid gray;
}

.animationEditor__save-saving {

}

.animationEditor__save-saved {
    animation-name: savedOk;
    animation-duration: 1s;

}

@keyframes savedOk {
    from {

    }

    to {
        color: green;
    }
}

.animationEditor__cancel-right, .animationEditor__save-right {
    float: right
}

.animationEditor__cancel-right::after, .animationEditor__save-right::after {
    clear: both;
}

.animationEditor__timeLine, .animationEditor__timeLineMarker, .animationEditor__hold {
    /* width:70%; */
    position: relative;
    /* height:22px; */
    padding: 0;
    padding-left: 50px;
    min-width: 660px;
}

/* .animationEditor__timeLineMarker{
    height:20px;
} */

.animationEditor__marker {
    /* border-radius: 50%; */
    display: inline-block;
    /* background-color: black; */
    width: 8px;
    height: 8px;
    position: absolute;
    border: 1px solid rgba(116, 113, 113, 0.6);
    transform: rotate(45deg);
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    box-sizing: border-box;
    cursor: pointer;
}

.animationEditor__marker-highlight {
    background-color: black;
}

.animationEditor__marker-disabled {
    cursor: not-allowed;
}

.animationEditor__ruler {
    text-align: left;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

.animationEditor__handler {
    position: absolute;
    display: inline-block;
    background-color: blue;
    width: 2px;
    height: 30px;
    bottom: 0;
    cursor: pointer;
}

.animationEditor__tickUnit {
    display: inline-block;
    width: 100px;
    position: relative;
    height: 20px;
    vertical-align: bottom;
}

.animationEditor__tick {
    position: absolute;
    width: 1px;
    height: 5px;
    background: rgba(70, 70, 70, 0.8);
    bottom: 0;
}

.animationEditor__unit {
    position: absolute;
    left: 5px;
    bottom: 0;
    line-height: 1em;
    font-size: 0.8em;
    /* width:30px;
    height:20px; */
}

.drawEngine-hide {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#c {
    position: absolute;
    left: 0;
    top: 0;
}

/*###右侧属性栏###*/
.attr-default-btn {
    height: 26px;
    border: 1px solid #a9a9a9;
    line-height: 26px !important;
    padding: 0 5px;
    color: #666666;
}

.attribute-wrap {
    width: 20%;
    height: calc(100% - 28px);
    -webkit-transition: .2s width;
    -moz-transition: .2s width;
    -ms-transition: .2s width;
    -o-transition: .2s width;
    transition: .2s width;
    background-color: #ffffff;
    box-sizing: border-box;
    position: relative;
}

.attribute-content {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.attribute-view {
    top: calc(50% - 20px);
    left: -16px;
    z-index: 999 !important;
    border-radius: 3px 0 0 3px;
    box-shadow: -0.5px 1px 1px rgba(0, 0, 0, .2), 0 -0.5px 1px rgba(0, 0, 0, .2);
}

.attribute-view > .open, .content-wrap.my-right-hide .attribute-view > .pack {
    display: none;
}

.content-wrap.my-right-hide .attribute-view > .open, .content-wrap.my-right-hide .attribute-view {
    display: block;
}

.attribute-wrap:hover .attribute-view {
    display: block;
}

.attribute-wrap.top-menu-content-show {
    height: calc(100% - 84px);
}

.content-wrap.my-right-hide .attribute-wrap {
    width: 0;
    padding: 0;
}

.attribute-wrap.my-bottom-hide .attribute-top-content {
    height: 100%;
}

.attribute-wrap.my-bottom-hide .attribute-bottom-content {
    height: 0;
}

/*右侧属性栏__上方属性菜单*/
.attribute-top-content {
    width: 100%;
    height: 100%;
    -webkit-transition: height .2s linear;
    -moz-transition: height .2s linear;
    -ms-transition: height .2s linear;
    -o-transition: height .2s linear;
    transition: height .2s linear;
    border: 0;
    box-sizing: border-box;
}

.attribute-bottom-content {
    width: 100%;
    height: 50%;
    -webkit-transition: height .2s linear;
    -moz-transition: height .2s linear;
    -ms-transition: height .2s linear;
    -o-transition: height .2s linear;
    transition: height .2s linear;
    border: 0;
    box-sizing: border-box;
    position: relative;
}

.attribute-top-nav {
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0;
    border: 0;
    border-bottom: 1px solid #dcdcdc !important;
}

.attribute-top-nav__item {
    width: 25%;
    height: 100%;
    line-height: 30px;
    float: left;
    background-color: #bfbfbf;
    font-size: 0.8em;
    text-align: center;
    margin: 0 !important;
    box-sizing: border-box;
    position: relative;
}

.attribute-top-nav__item:not(:first-of-type) {
    border-left: 1px solid #f5f4f6;
}

.attribute-top-nav__item > a {
    height: 100%;
    font-size: 16px;
    color: #707070;
    line-height: 30px !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
}

.attribute-top-nav__item.active > a {
    border-radius: 1px !important;
    background-color: #f5f4f6 !important;
    box-sizing: border-box;
    color: #005599 !important;
}

.attribute-top-nav__item:not(.active) > a:hover {
    background-color: #dcdcdc !important;
    color: white;
}

/*属性栏内item*/
.attribute-top-content > .attr-panel-item {
    height: calc(100% - 30px);
    overflow-y: auto;
    padding: 10px 18px;
    background-color: #ffffff;
}

.attr-item__cell-wrap {
    width: 50%;
    display: inline-block;
    margin: 5px 0;
}

.attr-item__cell-wrap.lg {
    width: 100%;
}

.attr-item__cell-title {
    width: 100%;
    font-size: 14px;
    color: #707070;
    text-indent: 1em;
    line-height: 2;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.attr-item__cell-input {
    height: 26px;
    border: 1px solid #a9a9a9 !important;
    border-radius: 5px;
    color: #7d7d7d;
    padding: 2px 12px;
}

.form-control:focus {
    border: 2px solid #005599 !important;
    /* outline: none; */
    /* box-shadow: none !important; */
}

.attr-item__cell-wrap > .attr-item__cell-input {
    width: 90%;
}

.attr-item__cell-wrap.lg > .attr-item__cell-input {
    width: 100%;
}

.attr-item__cell-textarea {
    white-space: pre;
}

.background-image {
    width: 100% !important;
    overflow: hidden !important;
}

.background-image > span {
    display: inline-block;
    text-indent: 0;
}

.background-image__title {
    max-width: 82%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.background-download-icon {
    max-width: 15%;
    cursor: pointer;
    vertical-align: 6px;
    float: right;
    margin-right: 2%;
}

.background-download-icon:hover {
    color: black;
}

/*纹理*/
.tex-list {
    background-color: white;
    padding-left: 0;
}

.tex-list > li {
    background-color: white;
    border: 1px solid #a9a9a9;
    font-size: 14px;
    min-height: 25px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
}

.tex-list > li > div {
    width: 60%;
    font-size: 12px;
    color: #7d7d7d;
    padding: 0 5px;
    display: inline-block;
}

.tex-list > li > span {
    font-size: 15px;
    opacity: .5;
    float: right;
    margin-right: 7%;
}

.tex-list > li > span:hover {
    cursor: pointer;
    opacity: 1;
}

.tex-adjust {
    float: right;
}

/*蒙板面板*/
.switch-button {
    margin: 0 auto;
    position: relative;
    background: #008CEE;
    width: 38px;
    height: 20px;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: background-color 0.5s ease-in-out 0s;
    -moz-transition: background-color 0.5s ease-in-out 0s;
    transition: background-color 0.5s ease-in-out 0s;
    -webkit-box-shadow: inset 2px 0 2px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 2px 0 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 2px 0 2px 1px rgba(0, 0, 0, 0.1);
}

.switch-button .switch-flag {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 18px;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: left 0.2s ease-in-out 0s;
    -moz-transition: left 0.2s ease-in-out 0s;
    transition: left 0.2s ease-in-out 0s;
    -webkit-box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 0.3);
}

.switch-button-close {
    background: #eee;
}

.switch-button-close .switch-flag {
    left: 0;
}

.matte-title, .matte-switch {
    display: inline-block;
}

.matte-switch {
    margin-left: 20px;
}

.matte-title {
    text-indent: 0;
    vertical-align: 5px;
}

.attr-item__matte-wrap {
    border: 1px solid #a9a9a9;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

.attr-item__matte-title {
    font-size: 14px;
    color: #7d7d7d;
    text-align: center;
    display: inline-block;
    width: 50px;
    margin: 0;
}

.attr-item__matte-input, .attr-item__matte-color {
    color: #7d7d7d;
    width: calc(100% - 60px) !important;
    height: 28px;
    display: inline !important;
    border: 1px solid #a9a9a9;
    line-height: 28px;
    padding: 0;
}

.attr-item__matte-input:focus {
    border: 1px solid #005599 !important;
    outline: none;
    box-shadow: none;
}

.attr-item__matte-range {
    width: calc(100% - 60px) !important;
    height: 20px;
    display: inline-block !important;
    outline: none;
    cursor: pointer;
    vertical-align: -4px;
}

.attr-item__matte-color {
    text-align: center;
    cursor: pointer;
}

/*变量*/
.tagSelect-main-wrap {
    border: 1px solid #a9a9a9;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
}

.tagSelect-wrap {
    width: 100%;
    margin-bottom: 10px;
}

.tagSelect__select, .tagSelect__title > button {
    padding: 0;
    height: 30px;
    border: 1px solid #a9a9a9;
    line-height: 30px;
    color: #7d7d7d;
}

.tagSelect__select:focus {
    border: 1px solid #005599 !important;
    outline: none;
    box-shadow: none;
}

.tagSelect__title > button {
    padding: 0 12px !important;
    text-align: center;
    outline: none !important;
    color: #666666;
}

.action-operate__cell {
    border: 1px solid #a9a9a9;
    padding: 10px;
    border-radius: 5px;
    min-height: 144px;
}

/*滤波器*/

.attr-item__wavefilter-title {
    color: #7d7d7d;
    margin-left: 20px;
    font-size: 14px;
    position: relative;
    top: 6px;
}

.wavefilter-item__add-wavefilter {
    font-size: 14px;
    float: right;
}

.wavefilter-wrap .glyphicon {
    display: block;
    width: 15px;
    top: -12px;
}

.wavefilter-wrap .wavefilter-item__wavefilter-list {
    border: 0;
    background-color: white;
    max-height: 180px;
    overflow: auto;
    list-style: none;
}

.wavefilter-wrap .wavefilter-item__wavefilter-list li {
    border: 1px solid #a9a9a9;
    border-radius: 4px;
    min-height: 25px;
    padding: 3px 0 0 10px;
}

.wavefilter-wrap .wavefilter-item__wavefilter-list li:hover {
    background-color: #e5e5e5;
}

.wavefilter-wrap .wavefilter-item__wavefilter-list li i {
    background-color: transparent;
    padding: 0 5px;
    float: right;
    margin-right: 10px;
    width: 28px;
    opacity: .5;
    cursor: pointer;
}

.wavefilter-wrap .wavefilter-item__wavefilter-list li span {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 125px;
    white-space: nowrap;
    display: inline-block;
}

.wavefilter-wrap .wavefilter-item__wavefilter-list li:hover {
    opacity: 1;
}

.attr-item__cell-title-inline, .attr-item__cell-input-inline {
    display: inline-block;
    font-size: 14px;
    color: #7d7d7d;
}

.attr-item__cell-title-inline {
    padding: 5px 14px;
}

.attr-item__cell-input-inline {
    width: 30%;
    border: 1px solid #a9a9a9;
}

.attr-item__cell-input-inline:focus {
    border: 1px solid #005599 !important;
    outline: none;
    box-shadow: none;
}

.wavefilter-item__list {
    margin-top: 10px;
    max-height: 300px;
    overflow-y: auto;
}

/*动作*/
.attr-item__action-title {
    color: #7d7d7d;
    margin-left: 20px;
    font-size: 14px;
    position: relative;
    top: 6px;
}

.action-item__add-action {
    font-size: 14px;
    float: right;
}

.action-wrap .glyphicon {
    display: block;
    width: 15px;
    top: -12px;
}

.action-item__action-list {
    border: 0;
    background-color: white;
    max-height: 180px;
    overflow: auto;
    list-style: none;
}

.action-item__action-list li {
    border: 1px solid #a9a9a9;
    border-radius: 4px;
    min-height: 25px;
    padding: 3px 0 0 10px;
}

.action-item__action-list li:hover {
    background-color: #e5e5e5;
}

.action-item__action-list li i {
    background-color: transparent;
    padding: 0 5px;
    float: right;
    margin-right: 10px;
    width: 28px;
    opacity: .5;
    cursor: pointer;
}

.action-item__action-list li span {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 125px;
    white-space: nowrap;
    display: inline-block;
}

.action-item__action-list li:hover {
    opacity: 1;
}

.attr-item__cell-title-inline, .attr-item__cell-input-inline {
    display: inline-block;
    font-size: 14px;
    color: #7d7d7d;
}

.attr-item__cell-title-inline {
    padding: 5px 14px;
}

.attr-item__cell-input-inline {
    width: 30%;
    border: 1px solid #a9a9a9;
}

.attr-item__cell-input-inline:focus {
    border: 1px solid #005599 !important;
    outline: none;
    box-shadow: none;
}

.action-operate-table {
    width: 100%;
    table-layout: fixed;
    border-bottom: 1px solid #cccccc;
}

.action-operate-table > tbody > tr > td:not(:first-of-type) {
    width: 35% !important;
}

.h-30 {
    height: 30px !important;
}

.action-operate__title-inline {
    line-height: 30px;
    font-size: 14px;
    display: inline-block;
}

.action-operate__check-box {
    display: inline-block;
    vertical-align: -2px;
    margin-left: 5px !important;
}

.action-item__list {
    margin-top: 10px;
    max-height: 300px;
    overflow-y: auto;
}

.action-item__list-table > thead > tr > td, .action-item__list-table > tbody > tr > td, .action-item__list-table {
    border: 1px solid #a9a9a9;
}

.op-selected {
    background-color: #F5F5F5;
}

/*字体面板*/
.font-item__font-style {
    text-align: center;
    width: 20%;
    display: inline-block;
    color: #7d7d7d;
    font-size: 15px;
    cursor: pointer;
    margin-left: 10%;
}

.font-item__font-style.active {
    color: #005599;
}

/*变量面板*/

.tag-item__tag-select {
    width: 50%;
    display: inline-block;
}

.tag-item__tag-btn {
    display: inline-block;
    vertical-align: 0;
    float: right;
    color: #666666;
}

.tag-item__timer-wrap {
    width: 100%;
    margin-top: 20px;
}

.tag-item__timer-count, .tag-item__timer-num-manage {
    display: inline-block;
}

.tag-item__timer-count {
    max-width: 50%;
    padding: 5px 1em;
    font-size: 14px;
    color: #7d7d7d;
    overflow: hidden;
}

.tag-item__timer-num-manage {
    width: 50%;
    vertical-align: 2px;
}

.tag-item__timer-operate {
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    color: #7d7d7d;
    border: 1px solid #a9a9a9;
}

.tag-item__timer-num > input {
    text-align: center;
    height: 26px;
    border: 1px solid #a9a9a9;
}

.tag-item__timer-num > span > button {
    padding: 0 14px;
    line-height: 26px;
    border: 1px solid #a9a9a9;
    height: 26px !important;
}

.attr-item__table-wrap {
    margin-top: 20px;
    padding: 0;
    overflow: hidden;
}

.attr-item__table {
    padding: 0;
    margin: 0;
    border-radius: 5px;
}

.attr-item__table tr > td, .attr-item__table tr > th {
    border: 1px solid #aaaaaa !important;
}

.attr-item__table > tbody > tr:hover, .attr-item__table > thead > tr {
    background-color: #f5f5f5;
}

.attr-item__table > thead > tr > td {
    font-size: 13px;
    font-weight: 500;
    color: #666666;
}

.attr-item__table > tbody > tr > td {
    font-size: 12px;
    color: #7d7d7d;
}

.attr-item__table > tbody > tr > td:first-of-type {
    padding: 8px 3px;
}

.attr-item__table > tbody > tr > td > i {
    cursor: pointer;
}

.register__check-box {
    width: 20px;
    height: 20px;
    margin-left: 1em !important;
}

.add-tag__modal > fieldset {
    margin-top: 10px;
}

.add-tag__radio > label {
    margin-left: 1em !important;
}

/*资源上传*/
.resource-operate-wrap {
    height: 30px;
    position: relative;
}

.RO__upload {
    position: absolute;
    left: 0;
    height: 25px;
    padding: 0 6px;
    line-height: 25px;
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.RO__upload-form {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.RO__upload-input {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.RO__batch-select {
    position: absolute;
    right: 0;
    top: 1px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}

.RO__batch-select-icon {
    font-size: 22px;
    font-weight: bold;
    color: #7d7d7d;
    cursor: pointer;
}

.RO__batch-select-icon:hover {
    color: dodgerblue;
}

.RO__search {
    position: absolute;
    top: 0;
    height: 25px;
    line-height: 25px;
    right: 30px;
    left: 70px;
    border: 1px solid #7d7d7d;
    border-radius: 10px;
    text-align: right;
    padding: 0 5px;
    box-sizing: border-box;
}

.RO__search-input {
    width: calc(100% - 30px);
    height: 23px;
    background: 0 0;
    border: 0;
    outline: 0;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
}

.search-result {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 15px;
    position: relative;
}

.cancel-search {
    position: absolute;
    right: 0;
    top: 0;
    color: #a9a9a9;
    cursor: pointer;
}

.cancel-search:hover {
    color: dodgerblue;
}

.upload-progressbar-text {
    color: #7d7d7d;
    white-space: nowrap;
}

.mask__upload {
    position: relative;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #e0e0e0;
    display: block;
    border-radius: 5px;
    color: #7d7d7d;
}

.resource-operate__all-select {
    color: #7d7d7d;
}

/*右侧属性栏__底部图层菜单*/
.attribute-bottom-content__title {
    width: 100%;
    height: 30px;
    background-color: #bfbfbf;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
    color: #707070;
    font-size: 16px;
}

.layer-menu-title {
    line-height: 30px;
    margin-left: 28px;
    cursor: pointer;
}

.layer-menu-view--pack {
    float: right;
    width: 20px;
    height: 100%;
    margin-right: 10px;
    cursor: pointer;
}

.layer-menu-view--open {
    width: 60px;
    height: 16px;
    background-color: rgba(229, 229, 229, .3);
    text-align: center;
    line-height: 16px;
    position: absolute;
    left: calc(50% - 30px);
    top: -16px;
    border: 1px solid #cccccc;
    border-radius: 3px 3px 0 0;
    cursor: pointer;
    display: none;
}

.attribute-wrap.my-bottom-hide .layer-menu-view--open {
    display: block;
}

.layer-menu-view__bar {
    display: block;
    width: 20px;
    height: 5px;
    background-color: #7d7d7d;
    margin-top: 11px;
    border-radius: 10px;
}

.bottom-layer-menu {
    width: 100%;
    overflow-y: auto;
    /* height: calc(100% - 30px); */
    background-color: #fcfcfc;
}

.menu-toggle-icon--expend, .menu-toggle-icon--collapse {
    width: 12px;
    height: 12px;
    display: inline-block;
}

.menu-toggle-icon--expend {
    background: url("../images/menu-expend.png");
}

.menu-toggle-icon--expend:hover {
    background: url("../images/menu-expend-active.png");
}

.menu-toggle-icon--collapse {
    background: url("../images/menu-collapse.png");
}

.menu-toggle-icon--collapse:hover {
    background: url("../images/menu-collapse-active.png");
}

.layer-menu-level {
    height: 30px;
    width: 100%;
}

.layer-menu__page {
    margin-top: 20px;
}

.layer-menu-level__page {
    padding-left: 28px;
}

.layer-menu-level__canvas {
    padding-left: 48px;
    background-color: #ffffff;
    border: 1px solid rgba(220, 220, 220, .2) !important;
}

.layer-menu-level__subcanvas {
    padding-left: 68px;
}

.layer-menu-level__widget {
    padding-left: 88px;
}

.layer-menu-level__title {
    width: 100%;
    height: 30px;
    white-space: nowrap;
    cursor: pointer !important;
    line-height: 30px;
    border: 1px solid transparent;
    box-sizing: border-box;
}

.layer-menu-level__area {
    width: 100%;
    padding: 0 !important;
}

.layer-menu-level__title-text {
    vertical-align: middle;
    cursor: pointer;
    font-weight: normal !important;
    font-size: 14px;
    color: #707070;
    margin-left: 5px;
}

.layer-menu-level__title.selected {
    background-color: #e5e5e5;
    border: 1px solid #dcdcdc;
    color: #7c7b7c;
}

.layer-menu-level__title:not(.selected):hover {
    background-color: #f4f4f4;
}

.layer-menu-level__title:not(.selected):hover .layer-menu-level__title-text {
    color: #005599;
}

.layer-menu-level__widget-icon {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

/*###模拟器界面###*/
.simulator-wrap {
    position: absolute;
    min-width: 1200px;
    min-height: 660px;
    height: 100%;
    width: 100%;
    z-index: 1000000;
    background-color: #f5f4f6;
    top: 0;
    bottom: 0;
    overflow: auto;
    text-align: center;
}

.simulator-nav {
    text-align: center;
    position: relative;
}

.simulator-nav-content {
    width: 100%;
    height: 56px;
    background-color: #fcfcfc !important;
    border-bottom: 1px solid #dcdcdc;
}

.simulator-nav-content__item {
    cursor: pointer;
    display: inline-block;
    width: 60px;
    height: 50px;
    text-align: center;
    margin-top: 6px;
    box-sizing: border-box;
}

.simulator-nav-content__item > p {
    font-size: 12px;
    color: #707070;
    margin: 6px 0;
}

.simulator-nav-content__item > img {
    padding-top: 4px;
}

.simulator-nav-content__item:hover p, .simulator-nav-content__item.simulator--run > p {
    color: #005599;
}

.simulator-nav-content__item > img.active-title {
    display: none;
}

.simulator-nav-content__item:hover img.active-title, .simulator-nav-content__item.simulator--run > img.active-title {
    display: inline-block;
}

.simulator-nav-content__item:hover img.default-title, .simulator-nav-content__item.simulator--run > img.default-title {
    display: none;
}

.simulator-nav-content__item.simulator--run {
    border-bottom: 2px solid #005599;
}

.simulator-content {
    width: 100%;
    height: calc(100% - 56px);
    background-color: #f7f7f7;
    position: relative;
}

.simulator {
    width: 100%;
    height: 100%;
}

.simulator-tools-wrapper {
    width: 100%;
    height: 40px;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

.simulator-tools__fps, .simulator-tools__scale {
    width: 100px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    display: inline-block;
}

.simulator-tools__scale > select {
    width: 60px;
    height: 25px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cccccc;
}

.simulator-canvas-wrapper {
    height: 100%;
    width: 80%;
    position: relative;
    overflow: auto;
    border-right: 1px solid #dcdcdc;
    box-sizing: border-box;
    float: left;
}

.simulator-canvas-wrapper > canvas {
    position: absolute;
    top: calc(50% + 40px);
    left: 50%;
    transform: translate(-50%, -50%);
}

.simulator-attribute-wrapper {
    float: left;
    height: 100%;
    width: 20%;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #fcfcfc;
    box-sizing: border-box;
}

.simulator-setting-wrapper {
    width: 100%;
    height: 56px;
    font-size: 14px;
    color: #707070;
}

.simulator-setting-wrapper > div {
    float: left;
    box-sizing: border-box;
    line-height: 56px;
}

.simulator-setting__ratio {
    width: 60%;
}

.simulator-setting__ratio > input {
    height: 25px;
    width: 30%;
    outline: none;
    line-height: normal;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.simulator-setting__keyboard {
    border-left: 1px solid #dcdcdc;
    width: 40%;
}

.simulator-setting__keyboard > span {
    cursor: pointer;
    display: inline-block;
    width: 20%;
    line-height: 56px;
    text-align: center;
}

.simulator-setting__keyboard > span:hover {
    color: #005599;
}

.simulator-tag-wrapper {
    height: calc(100% - 56px);
    width: 100%;
}

.simulator-tag-table-wrapper {
    height: 50%;
    overflow: auto;
}

.simulator-tag-table {
    width: 100%;
    overflow: auto;
    font-size: 14px;
    color: #707070;
    table-layout: fixed;
}

.tag-table-col-4 {
    width: 40%;
}

.tag-table-col-2 {
    width: 20%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.simulator-tag-title {
    width: 100%;
    height: 30px;
}

.simulator-tag-title .simulator-tag-table__col {
    height: 30px;
    vertical-align: middle;
}

.simulator-tag-content {
    width: 100%;
    height: calc(100% - 30px);
    overflow: auto;
    box-sizing: border-box;
    position: relative;
}

.simulator-tag-content::-webkit-scrollbar {
    float: right;
}

.simulator-tag-content > .simulator-tag-table .simulator-tag-table__col {
    margin: 0;
    padding: 5px 0;
    height: 30px !important;
}

.simulator-tag-table__header .simulator-tag-table__col {
    background-color: #bfbfbf !important;
    box-sizing: border-box;
    border-right: 1px solid #fcfcfc;
}

.simulator-tag-table__input {
    width: 95%;
    height: 30px;
    border: 0;
    background-color: #e5e5e5;
    text-align: center;
}

.simulator-tag-table__select {
    width: 80%;
    border-radius: 5px;
    outline: none;
    height: 30px;
    text-align: center;
    border: 1px solid #cccccc;
}

.simulator-tag-table__body > tr > td:first-of-type {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*其它*/
/*批量选择*/
.batch-select-table thead {
    background-color: #eeeeee;
}

.batch-select-img {
    width: 40px;
    height: 40px;
}

.batch-select-table tbody tr:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.batch-select-wrap {
    height: 500px !important;
    overflow-y: auto;
}

.batch-select-table tbody tr td {
    vertical-align: middle !important;
}

.batch-select-table thead tr th, .batch-select-table tbody tr td:not(:nth-of-type(2)) {
    text-align: center;
}

.batch-select-table tbody tr td:nth-of-type(2) {
    overflow: hidden !important;
}

/*拉伸*/
.pullingWrap {
    width: 100%;
}

.pullingWrap input, .customResolutionWrap input {
    width: 20% !important;
}

.pullingWrap label, .customResolutionWrap label {
    line-height: 32px;
    padding-right: 0;
}

.layer-preview {
    float: right;
    margin-right: 20px;
}

/*遮盖，用于分享的工程，有人同时登录时展示*/
div.wrapper-custom {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 997;
    background-color: whitesmoke;
}

.container-custom {
    max-width: 730px;
}

.jumbotron h2 {
    text-align: center;
}

.lx-modal-body {
    font-size: 12px;
    font-weight: bold;
}

.lx-modal-body .row {
    margin-bottom: 10px;
}

.lx-modal-body .col-md-1 {
    padding: 0px 5px 0px 15px
}

.lx-modal-body input {
    height: 30px;
    width: 173px;
    display: inline-block;
    font-weight: 100;
}

.lx-modal-body .ui-select-container {
    height: 30px;
    width: 173px;
    display: inline-block;
    font-weight: 100;
    position: absolute;
    left: 15px;
    top: 0px !important;
}

.lx-modal-body .ui-select-container .ui-select-toggle {
    height: 30px;
}

.lx-modal-body .ui-select-container .ui-select-toggle span {
    margin-top: 3px;
}

.lx-modal-body .ui-select-container ul {
    max-height: 90px;
}

.lx-modal-body select.form-control {
    height: 30px;
    width: 173px;
    display: inline-block;
    font-weight: 100;
    position: absolute;
    left: 15px;
    padding: 0 12px;
}

.lx-modal-title {
    margin-top: 5px;
}

.lx-margin-top-5 {
    margin-top: 5px;
}

.lx-margin-bottom-10 {
    margin-bottom: 10px;
}

/*share modal*/
.sharedKey, .sharedUrl {
    padding: 0.5em;
    -moz-user-select: text;
    /*火狐*/
    -webkit-user-select: text;
    /*webkit浏览器*/
    -ms-user-select: text;
    /*IE10*/
    -khtml-user-select: text;
    /*早期浏览器*/
    user-select: text;
}

.modal-content {
    z-index: 100000000;
}

.modal-dragzone {
    border: 1px dashed darkgrey;
    padding: 12.5% 0;
    text-align: center;
    cursor: default;
    position: relative;
    display: inline-block;
    width: 100%;
    border-radius: 5px;
}

.modal-uploadfile-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.modal-dragzone-input {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.modal-dragzone-accept {
    background-color: green;
}

.modal-dragzone-reject {
    background-color: red;
}

.modal-validate-valid {
    color: green;
}

.modal-validate-invalid {
    color: red;
}

.modal-validate-wrapper {
    padding: 1em;
}

.modal-validate-info {
    display: block;
}

.modal-open .modal {
    overflow-x: auto;
}

.modal-lg {
    min-width: 900px;
}

.modal-sm {
    min-width: 300px;
}

#actionVisualization-wrapper {
    position: absolute;
    min-width: 1050px;
    min-height: 660px;
    height: 100%;
    width: 100%;
    z-index: 1000000;
    top: 0;
    bottom: 0;
    overflow: auto;
    background-color: rgba(15, 56, 76, 1);
    text-align: center;
}

.my-img-table thead tr td {
    font-size: 12px;
    padding: 4px 8px;
}

.my-img-table thead tr > :nth-child(2) {
    min-width: 120px;
}

.my-img-table .img-info {
    background-color: white;
}

.my-img-table .img-info:hover {
    background-color: #e0e0e0;
}

.my-img-table .img-info td {
    padding: 8px 8px;
}

.my-img-table tbody tr > :nth-child(1) {
    padding-left: 12px;
    padding-right: 4px;
}

.my-img-table tbody tr > :nth-child(2) span {
    color: lightslategrey;
}

.my-img-table .img-info .img-name {
    background: transparent;
}

.my-img-table .img-info .img-option {
    opacity: .8;
    cursor: default;
}

.my-img-table .img-info .img-option:hover {
    color: #0f0f0f;
}

.my-font-image {
    font-size: 35px !important;
}

/*模态框*/
.modal-title {
    font-weight: 600;
    text-align: center;
    font-size: 20px;
    margin: 0;
    color: #7d7d7d;
}

.modal-prompt {
    padding: 0;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
    color: #005599;
}

.modal-md .modal-content {
    width: 500px;
    padding: 10px 25px;
    color: #7d7d7d;
}

.modal-lg .modal-content {
    width: 960px;
    padding: 10px 25px;
    color: #7d7d7d;
}

.modal-sm .modal-content {
    padding: 10px 25px;
    color: #7d7d7d;
}

.modal-row {
    height: 50px;
    margin-top: 5px;
}

.modal-label {
    font-size: 16px;
}

.modal-input, .modal-label {
    height: 30px;
    line-height: 2em;
    text-align: left;
    vertical-align: middle;
    color: #7d7d7d;
}

.modal-input {
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #A9A9A9;
    color: rgba(0, 0, 0, .7);
}

.modal-input:focus {
    outline: none;
    border: 1px solid #005599 !important;
}

.modal-checkbox {
    cursor: pointer;
    vertical-align: -2px;
    width: 15px;
    height: 15px;
}

.modal-btn {
    padding: 5px 0;
    margin: 0 10px;
    background-color: transparent;
    border: 0;
    font-size: 16px;
    outline: none;
    font-weight: 500;
    color: #7d7d7d;
    border-bottom: 1.5px solid transparent;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.modal-btn:hover {
    text-shadow: 0 0 0 #7d7d7d;
    border-bottom: 1.5px solid #7d7d7d;
}

.btn-confirm:hover {
    text-shadow: 0 0 0 #005599;
    border-bottom: 1.5px solid #005599;
}

.btn-confirm {
    color: #005599;
}

/*tag悬浮提示框*/
.tagName {
    margin: 0;
    padding: 0;
}

.tagName-str {
    color: #005599;
}

.tooltip-inner {
    max-width: none !important;
}

.tag-tooltip-wrap {
    text-align: left;
    padding: 10px;
    overflow: hidden;
}

.tag-tooltip-wrap p {
    display: block;
    white-space: nowrap;
    word-break: keep-all;
}

.tag-tooltip-title {
    text-align: center;
    font-size: 14px;
    color: #005599;
    font-weight: 600;
}

/*资源上传*/
.resource-drop-wrap {
    margin: 0;
    min-height: 100%;
}

.resource-drop-over {
    border: 2px dashed #CCCCCC;
}

.resource-list {
    margin: 0;
    padding: 2px;
}

.rl__item {
    margin: 0 0 2px 0;
    padding: 5px 0;
    height: 90px;
    border-radius: 3px;
    background-color: rgba(200, 200, 200, .3);
    box-shadow: 1px 1px 1px rgba(200, 200, 200, .8), -1px -1px 1px rgba(200, 200, 200, .8);
    position: relative;
}

.rl__item > div {
    height: 80px;
}

.rl_item-icon {
    text-align: center;
    line-height: 80px;
    position: absolute;
    width: 80px;
}

.file-index {
    position: absolute;
    top: 0;
    left: 5px;
    color: #005599;
    font-size: 12px;
}

.file-thumb__img {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    top: 10px;
}

.file-thumb__audio {
    position: absolute;
    width: 60px;
    height: 60px;
    right: -5px;
    top: 10px;
}

.file-thumb__audio > .audio-play {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: dodgerblue;
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 1;
    cursor: pointer;
}

.file-thumb__audio-img {
    border-radius: 50%;
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: auto;
}

.file-thumb--animate {
    -webkit-animation: playAudio 5s infinite linear;
    -o-animation: playAudio 5s infinite linear;
    animation: playAudio 5s infinite linear;
}

@keyframes playAudio {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.file-prompt {
    color: #606060;
}

.rl_item-info {
    position: absolute;
    left: 100px;
    right: 50px;
}

.rl_item-operate {
    position: absolute;
    right: 0;
    width: 50px;
}

.rl_item-operate1 {
    height: 100%;
    width: 100%;
}

.rl_item-operate1 > p {
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: #7d7d7d;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.rl_item-operate1 > p:hover {
    color: #005599;
}

.rl_item-info > p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #7d7d7d;
    line-height: 22px;
}

.rl_item-name {
    width: 100%;
    line-height: 30px;
    border: 0;
    outline: none;
    color: dodgerblue;
    font-size: 14px;
    font-weight: 600;
    background-color: transparent;
}

.rl_item-name:focus {
    background-color: white;
    border-radius: 5px;
}

/*帮助提示*/
.function-prompts {
    position: absolute;
    font-size: 14px;
    color: #707070;
    cursor: pointer;
}

.function-prompts:hover {
    color: #005599;
}

.function-prompts__menu {
    top: 0;
    right: 0;
    line-height: normal;
    display: none;
    font-size: 12px;
}

.top-nav-menu__title:hover .function-prompts__menu {
    display: block;
}

.function-prompts__widget {
    top: 0;
    right: 0;
    display: none;
}

.widget-list__item:hover .function-prompts__widget {
    display: block;
}

.function-prompts__thumb {
    right: 0;
    top: 0;
    display: none;
}

.thumb-wrap:hover .function-prompts__thumb {
    display: block;
}

.function-prompts__attr {
    right: 0;
    top: 0;
    z-index: 999;
    line-height: normal;
    display: none;
}

.attribute-top-nav__item:hover .function-prompts__attr {
    display: block;
}

.function-prompts__animate {
    margin-left: 10px;
}

/*定时器备注*/
.timer-remark-textarea {
    width: 100%;
    outline: none;
    border-radius: 5px;
    color: #7d7d7d;
    font-size: 15px;
    border: 1px solid #a9a9a9;
}

.timer-remark-textarea:focus {
    border: 1px solid #005599;
}

.timer-remark-tooltip {
    max-width: 150px;
    font-size: 14px;
}

/*simulator record*/
.simulator-record-wrap {
    position: absolute;
    left: 20px;
    top: 0;
    line-height: 56px;
    padding: 0 20px;
    overflow: hidden;
    height: 56px;
}

.simulator-record-wrap > div {
    float: left;
}

.record-tool-menu {
    width: 0;
    overflow: hidden;
    transition: width .2s linear;
    margin-left: 10px;
    height: 40px;
    margin-top: 8px;
}

.record-tool-menu.open {
    width: 300px;
}

.record-menu-content {
    border: 1px double #005599;
    border-radius: 5px;
    box-sizing: border-box;
    height: inherit;
    line-height: 40px;
}

.record-tool-icon {
    font-size: 25px;
    color: #7d7d7d;
    font-weight: 600;
    cursor: pointer;
}

.record-tool-icon.open {
    color: #005599;
}

.record-menu__item {
    font-size: 20px;
    color: #005599;
    cursor: pointer;
    float: left;
    margin-left: 30px;
    line-height: 40px;
}

.record-prompt {
    float: left;
    line-height: 40px;
    margin-left: 20px;
    font-size: 14px;
    color: #005599;
    font-weight: 600;
}

.record-download {
    font-size: 24px;
    color: #005599;
    display: inline-block;
    vertical-align: -4px;
}

.record-timer {
    color: crimson;
}

/*工程分享*/
.share-project-content {
    padding: 10px 0;
}

.share-project__info {
    width: 100%;
    white-space: pre-wrap;
    word-break: break-all;
    border: none;
    outline: none;
    resize: none;
    margin-top: 20px;
}

button.share-project {
    display: block;
    margin: 0 auto;
}

.share-project__copy {
    cursor: pointer;
    color: #005599;
    font-weight: 600;
}