.my-cmd-item{
    display:inline-block;
    width:5.5em;
    text-align: center;
}
.icon{
    display:block;
    text-align: center;
    font-size: 1.6em;
}

.caption{
    display:block;
    text-align: center;
    font-size: 0.7em;
}