.xiangPage-title{
    font-size: 12px;
}
.xiangPage-textArea-container{
    background-color: rgb(247,247,247);
}
.xiangPage-textArea-container .my-attr-item .xiangPage-dropdown-button{
    width: 100%;
    height: 28px;
    font-size: 12px;
}
.xiangPage-dropdown span{
    width: 30px;
}

.xiangPage-dropdown input{
    height: 28px;
    width: 128px;
    border: 0;
    font-size:14px
}

.xiangPage-selected {
    width: 100%;
    height: 28px;
    font-size: 12px;
}
.my-attr-item .my-cmd-item{
    cursor: pointer;
    padding: 7px 5px 5px 5px;
    color: #1C2B4B;
    width: 15%;
    font-size:16px;
}
.my-attr-item .inactive{
    color: #B2BCBA;
    cursor: pointer;
}
.my-attr-item.active{
    color:#373F42;
    cursor:pointer;
}
.my-attr-item.xiangPage-fontfamily{
    width:70%
}
.my-attr-item.xiangPage-fontStyle{
    width:30%
}

.my-attr-item.xiangPage-fontStyle span{
    display: inline-block;
    font-size: 16px;
}
.my-attr-item.xiangPage-fontStyle a{
    display: inline-block;
    width: 40%;

}
.my-stage>table>tbody>tr>td{
    background-color: lightgray;
}

.my-stage .subCanvas{
    position:relative;
    display:inline-block;
    margin:20px 0px;
}
.my-stage .subCanvas>canvas{
    position:absolute;left:0;top:0
}
#backgroundCanvas{
    cursor: url("../img-web/pointer16.ico"),pointer;
}



/*遮盖，用于分享的工程，有人同时登录时展示*/
div.wrapper-custom{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 997;
    background-color: whitesmoke;
}

.container-custom{
    max-width: 730px;
}

.jumbotron h2{
    text-align: center;
}

/*switch button edit in 2018/2/5*/
.switch-button{
    /*margin:0 auto;*/
    position: relative;
    background: #008CEE;
    width: 38px;
    height: 20px;
    cursor: pointer;

    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius: 10px;

    -webkit-transition:background-color 0.5s ease-in-out 0s;
    -moz-transition:background-color 0.5s ease-in-out 0s;
    transition:background-color 0.5s ease-in-out 0s;

    -webkit-box-shadow:inset 2px 0 2px 1px rgba(0,0,0,0.1);
    -moz-box-shadow:inset 2px 0 2px 1px rgba(0,0,0,0.1);
    box-shadow:inset 2px 0 2px 1px rgba(0,0,0,0.1);

}

.switch-button .switch-flag{
    display: block;
    position: absolute;
    width:20px;
    height: 20px;
    left:18px;
    background: #fff;

    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius: 10px;

    -webkit-transition:left 0.2s ease-in-out 0s;
    -moz-transition:left 0.2s ease-in-out 0s;
    transition: left 0.2s ease-in-out 0s;

    -webkit-box-shadow:1px 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:1px 0 1px 1px rgba(0,0,0,0.3);
    box-shadow: 1px 0 1px 1px rgba(0,0,0,0.3);

}

.switch-button-close{
    background:#eee;
}

.switch-button-close .switch-flag{
    left:0px;
}

/*for animation modal panel*/
.lx-modal-body{
    font-size: 12px;
    font-weight:bold;
}
.lx-modal-body .row{
    margin-bottom: 10px;
}
.lx-modal-body .col-md-1{
    padding:0px 5px 0px 15px
}
.lx-modal-body input{
    height: 30px;
    width: 173px;
    display: inline-block;
    font-weight: 100;
}

.lx-modal-body .ui-select-container{
    height: 30px;
    width: 173px;
    display: inline-block;
    font-weight: 100;
    position: absolute;
    left: 15px;
    top:0px !important;
}

.lx-modal-body .ui-select-container .ui-select-toggle{
    height: 30px;
}
.lx-modal-body .ui-select-container .ui-select-toggle span{
    margin-top: 3px;
}

.lx-modal-body .ui-select-container ul{
    max-height: 90px;
}

.lx-modal-body select.form-control{
    height: 30px;
    width: 173px;
    display: inline-block;
    font-weight: 100;
    position: absolute;
    left: 15px;
}

.lx-modal-title{
    margin-top: 5px;
}
.lx-margin-top-5{
    margin-top:5px;
}
.lx-margin-bottom-10{
    margin-bottom: 10px;
}