<li data-project='<%= JSON.stringify(project) %>'  class="CANProjectPanel">
    <div class="img">
        <i class="CANProjectdelete iconfont">&#xe607;</i>
        <a href="#"><img src='<%= thumbnail || "../../public/login/assets/img/pro_2.png" %> '/></a>
    </div>
    <p class="text projectinfo" data-toggle="modal" data-target="#myCANModal">
        <span><%= project.name %></span>
        <!--<span class="day"><%= project.lastModified %></span>-->
    </p>
</li>