/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */

/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-size: 14px;
}

.set-pad {
    padding-top:35px;
}
.set-row-pad {
    margin: 0 auto;
    padding-top:30px;
    padding-bottom:50px;
}
/*=====================================
  NAVBAR STYLES 
    ===================================*/

.logo-custom {
    max-height: 62px;
    position: absolute;
    top:0;
    left:0;
}

#menu {
   /* background-color: rgba(28, 43, 75, 0.5);*/
    color: #fff;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1px;
    min-height: 9px;
    height: 5px;
}


.navbar-inverse {
    border-color: transparent;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a:hover {
    color: #aaabac;
    font-size: 20px;
    padding: 10px 10px;
}


/*=====================================
  HOME STYLES 
    ===================================*/
.home-sec {
    /*background: url(../img/header.jpg) no-repeat center center;*/
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

.home-sec .overlay {
    /* background: rgba(38, 57, 88, 0.89);*/
    /* min-height: 500px;*/
}

.home-sec h1 {
    color: #fff;
    font-weight: 900;
    font-size: 50px;
    text-transform: uppercase;
    padding-bottom: 35px;
}

.home-sec h3 {
    text-transform: uppercase;
}



.set-flexi {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    background-color: transparent;
    border: 0 solid #000;
    /*padding-top: 120px;*/
}

.flex-control-nav {
    display: none!important;
}

.set-flexi a {
    margin: 5px;
    color:#fff;
}
/*=====================================
  TAG LINE STYLES 
    ===================================*/

.tag-line {
    background: #E9E9E9;
    color: #000;
}

.tag-line h2 {
    font-size: 20px;
    font-weight: 900;
    padding: 5px 10px 10px 5px;
    color: #005E5A;
}

.tag-line h2 > i {
    margin-left: 8px;
    margin-right: 8px;
}
/*=====================================
  HEADER LINE STYLES 
    ===================================*/
.header-line {
    font-weight: 900;
    font-size: 25px;
    padding-bottom: 5px;
    padding-top: 25px;
    color: #000;
}

h1::after {
    content: " ";
    border: solid 2px #2f9484;
    display: block;
    width: 200px;
    margin: 12px auto;
}

/*=====================================
  ABOUT STYLES 
  ===================================*/
.about-div {
    padding: 30px;
}

.icon-round-border {
    border: 10px double #1A94C4;
    color: #2f9484;
    text-align: center;
    padding-top: 15px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.icon-round-border:hover {
    color: #fff;
    border: 10px double #fff;
    background-color: #1A94C4;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.about-div hr {
    border: 1px solid #1A94C4;
}

.about-div h3 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.about-div p {
    padding-top: 10px;
}

.btn-set {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    margin-bottom: 20px;
}
/*=====================================
  FACULTY STYLES 
  ===================================*/
#faculty-sec {
    background-color: #000;
    color: #fff;
}

#faculty-sec .header-line {
    color: #fff;
}
.faculty-div h4 {
    line-height:30px;
    font-weight:700;
}
.faculty-div {
    padding: 30px;
}

.faculty-div hr {
    border: 1px solid #1A94C4;
}

.faculty-div h3 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.faculty-div p {
    padding-top: 10px;
    padding-bottom: 15px;
}

.faculty-div img {
    border: 10px double #fff;
}

/*=====================================
  CONTACT STYLES 
  ===================================*/
#contact-sec {
    padding-top: 10px;
    padding-bottom: 60px;
    /*background: url(../img/contact.jpg) no-repeat center center;*/
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

#contact-sec .overlay {
    background: rgba(0, 0, 0, 0.76);
    min-height: 600px;
}

#contact-sec h1 {
    color:#fff;
}
#contact-sec .form-control{
    background-color:rgba(255, 255, 255, 0);
    color:#fff;
}
/*=====================================
  Footer STYLES 
  ===================================*/
#footer {
    padding:5px 20px;
    background-color: rgba(28, 43, 75, 0.5);
    text-align:center;
    color:#fff;
    font-size:15px;
}

*{margin: 0;padding: 0;}
#container-zyj {
    position: absolute;
    height: 700px;
    width: 100%;

}

.slide-container{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
#output {
    width: 100%;
    height: 100%;
}
.color{
    width: 120px;
    height: 20px;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    margin-left: -60px;
    bottom: 20px;
}
.color li{
    float: left;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    background: #ccc;
    box-shadow: 0 0 4px #FFF;
    list-style: none;
    cursor: pointer;
}
.color li:nth-child(1){
    background: #002c4a;
}
.container>a>span{
    font-size: 110px;position:absolute;top:35%;text-decoration:none;color:white;
}
#myCarousel{
    width:auto;

}
.position-zyj{
    position: absolute;
    top:80%;
}
.slide-zyj{
    height:auto;
    max-width: 1170px;
    margin: 0 auto;
}
.size-zyj{
    height:auto;
    vertical-align:middle;
}
#myCarousel .container a span{
    position: absolute;
    top:49%;
    left:20%;
    right:0;
}
.position1-zyj{
    position: relative;
    top:auto;
    margin: 0 auto;
    left:-0%;

}
.video-center{
    max-height:600px;
    max-width:800px;
    position:relative;
    margin:0 auto;
    top:20px;
}
.move-bar a{
    height:62px ;
}
.move-bar{
    position: relative;
    padding-left:80px;
}
.nav-bar{
    height:39px;
    color:#aaabac;
    font-weight: 600;
    font-size:19px ;
    position: relative;
    top:2px;
    left:20px;

}
.nav-bar:hover{
    color:#222222;
    height: 25px;
    border-bottom-style: solid;
    border-bottom-width:2px;
    border-bottom-color:#222222;
    transition:height 0.5s;
    -moz-transition:height 0.5s; /* Firefox 4 */
    -webkit-transition:height 0.5s; /* Safari and Chrome */
    -o-transition:height 0.5s; /* Opera */
}
.container-zyj1{
    height:32px;
}
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
}
.back1{
    position: fixed;
    right: 15px;
    bottom: 0.3%;
    z-index: 9999;
}
.back{
    width: 50px;
    height: 50px;
    padding:15px;
    background-color:rgba(162, 201, 235, 0.79) ;
    border-radius: 50%;
}
.back a img{
    position: relative;
    top:-10px;
    left:-8.5px;
}
.back:hover{
 background-color:#a2c9eb;
    transition-duration: 1s;
    -moz-transform:scale(1.2,1.2);
    -webkit-transform:scale(1.2,1.2);
    -o-transform:scale(1.2,1.2);
}
.video-p{
    position: relative;
    top:160px;
}
.title{
    float:left;
    width:100%;
    text-align: center;
}