<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Blog Editor</title>
    <script type="text/javascript" src="../../public/blog/libs/clipboard/clipboard.min.js"></script>
    <script type="text/javascript" src="../../public/blog/libs/jquery-3.1.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../../public/blog/libs/bootstrap-3.3.7/css/bootstrap.css">

    <script type="text/javascript" src ="../../public/blog/libs/bootstrap-3.3.7/js/bootstrap.js"></script>
    <!-- <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="../../public/blog/libs/summernote/summernote.css">
    <link rel="stylesheet" type="text/css" href="../../public/blog/css/editor.css">
    <!-- <script  src="./lib/summernote/summernote.js"></script> -->
    <script type="text/javascript" src="../../public/blog/libs/summernote.js"></script>
    <script type="text/javascript" src="../../public/blog/libs/summernote/lang/summernote-zh-CN.js"></script>
</head>
<body>

    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-left" href="#"><img class="img-responsive" alt="brand" src="../../public/login/assets/img/速显微.png" style="height: 50px;" /></a>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a>Blog</a></li>

                    </ul>
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </form>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>
    <div class="main-container row">
        <div class="editor-info-wrapper col-lg-3 ">
            <div class="editor-info">
                <form class="form">
                    <div class="form-group">
                        <label class="">Title:</label><input id="title" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="">Description:</label><input id="desp" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="">Keywords:</label><input id="keyword" class="form-control" placeholder="separate by ;" />
                    </div>
                    <div class="form-group">
                        <label class="">Category:</label><select id="category" class="form-control"><option>hah</option></select>
                    </div>
                    <div class="form-group">
                        <label class="">&nbsp;</label>
                        <div>
                            <button id="publish" class="btn btn-default" style="float:left">Publish</button>
                            <button id="save" class="btn btn-default" style="float:right">Save</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-9 editor-wrapper">

            <div id="summernote">Hello Blog</div>
        </div>
    </div>
    <footer></footer>
    <script src="../../public/blog/js/customSN.js"></script>
    <script src="../../public/blog/js/blogEditor.js"></script>
</body>
</html>