<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>AHMI-IDE BLOG</title>
    <link rel="stylesheet" href="../../public/blog/libs/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../public/blog/css/index.css">

    <script src="../../public/blog/libs/jquery-3.1.1.min.js"></script>
    <script src="../../public/blog/libs/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="../../public/blog/libs/moment.min.js"></script>
</head>
<body>
<header>
    <% include header.html %>
</header>
<div class="main-container">
    <div class="blog-list-container">
        <ul class="blog-list"></ul>
    </div>
</div>
<footer>
    <% include footer.html %>
</footer>
<script src="../../public/blog/js/index.js"></script>
</body>
</html>