<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>AHMI-IDE BLOG</title>
    <link rel="stylesheet" href="../../public/blog/libs/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../public/blog/css/index.css">
    <!-- CUSTOM STYLE CSS -->
    <link href="../../public/login/assets/css/style.css" rel="stylesheet"/>

    <script src="../../public/blog/libs/jquery-3.1.1.min.js"></script>
    <script src="../../public/blog/libs/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="../../public/blog/libs/moment.min.js"></script>
    <script src="../../public/blog/libs/paginationer.js"></script>
</head>
<body>
<header>
    <% include header.html %>
</header>
<div class="main-container">
    <div class="blog-list-container">
        <ul class="blog-list"></ul>
        <div id="paginator"></div>
    </div>
    <footer>
        <% include ../all/footer.html %>
    </footer>
</div>
<script>
    ;(function () {
        var paginationer = new Paginationer(5,<%=currentPage%>,<%=totalPage%>);
        paginationer.setElem(document.getElementById('paginator'))
    }())
</script>

<script src="../../public/blog/js/index.js"></script>
</body>
</html>