<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Blog Manage</title>
    <script type="text/javascript" src="../../public/blog/libs/jquery-3.1.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../../public/blog/libs/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../public/blog/css/manage.css">

    <script type="text/javascript" src ="../../public/blog/libs/bootstrap-3.3.7/js/bootstrap.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-left" href="#"><img class="img-responsive" alt="brand" src="../../public/login/assets/img/速显微.png" style="height: 50px;" /></a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a>Blog</a></li>

                </ul>
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
<div class="main-container">
    <div class="blog-tools-container">
        <button class="btn btn-default blog-tool-create" id="create">Create</button>
    </div>
    <div class="blog-list-container">
        <ul class="blog-list"></ul>

    </div>
    <div id="deletemodal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" id="modal-cancel" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" id="modal-confirm" class="btn btn-primary" data-dismiss="modal">Confirm</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<footer></footer>
<script src="../../public/blog/js/manage.js"></script>
</body>
</html>