<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>Post</title>
    <link rel="stylesheet" href="../../public/blog/libs/bootstrap-3.3.7/css/bootstrap.min.css">
    <!--<link rel="stylesheet" type="text/css" href="../../public/blog/css/post.css">-->

    <script src="../../public/blog/libs/jquery-3.1.1.min.js"></script>
    <script src="../../public/blog/libs/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="../../public/blog/libs/moment.min.js"></script>
    <!--//summernote-->
    <link rel="stylesheet" type="text/css" href="../../public/blog/css/post.css">
    <script type="text/javascript" src="../../public/blog/libs/clipboard/clipboard.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../public/blog/libs/summernote/summernote.css">
    <script type="text/javascript" src="../../public/blog/libs/summernote.js"></script>
    <script type="text/javascript" src="../../public/blog/libs/summernote/lang/summernote-zh-CN.js"></script>
</head>
<body>
<header>
    <% include header.html %>
</header>
<div class="main-container">
    <div class="blog-wrapper">
        <div class="blog-info">
            <div class="blog-panel">
                <div class="blog-panel-title"></div>
                <div class="blog-panel-keywords"></div>
            </div>
        </div>
        <div class="note-editable panel-body main-content"></div>
    </div>

    <footer>
        <% include footer.html %>
    </footer>

</div>

<script src="../../public/blog/js/post.js"></script>
</body>
</html>