*{margin: 0px;padding: 0px;}
li{list-style-type: none;}
a{text-decoration: none;}
a img{border: none;}
body{
    background: #F7F6F2;
    min-width: 700px;
}
.header{
    width: 100%;
    height: 70px;
    background: #1C2B4B;
    border-bottom:2px solid #ccc;
    position: relative;
}
.header_main{
    width: 90%;
    height: 70px;
    margin: 0px auto;
}
.header_main_logo{
    width: 180px;
    height: 40px;
    margin-top: 10px;
    float: left;
}
.nav{
    width: 340px;
    height: 40px;
    margin-top: 10px;
    line-height: 50px;
    float: right;
}
.nav ul li{
    float: left;
    padding: 0px 8px;
}
.nav ul li a{
    color:#fff;
    font-family: "微软雅黑";
    font-size: 14px;
    font-weight: bold;
}
.img{
    position: absolute;
    right: 10px;
    top: 17px;
}
.img a img{
    width: 40px;
    height: 40px;
    border-radius:40px;
}
.menu{
    width: 70px;
    height: 0px;
    line-height: 25px;
    overflow: hidden;
    padding-top: 10px;
}
.menu a{
    font-weight: 600;
    color:#000;
    font-size: 13px;
    padding-left: -10px;
}
.menu a:hover{
    color:dodgerblue;
}
.main{
    width: 1200px;
    margin: 0px auto;
    overflow: hidden;
}
.left{
    width:299px;
    float: left;
    padding-top: 20px;
}
.left_main{
    width: 128px;
    height: 128px;
    margin: 0px auto;
    cursor: pointer;
}
.left_main img{
    width: 100%;
    height: 100%;
    border-radius: 64px;
}
.left_main img:hover{
    display: inline-block;
    width: 128px;
    height: 128px;
    opacity: 0.8;
    border-radius: 64px;
}
.right{
    width: 800px;
    float: left;
    padding: 20px 15px 0px 30px;
    border-left: 1px solid #ccc;
}
.right_main{
    width: 100%;
    height: 100%;
    border-radius:5px;
    background: #fff;
    float: right;
}
.right_input{
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    overflow: hidden;
}
.field{
    width: 330px;
    height: 70px;
    padding: 20px 10px 0px 10px;
    float: left;
}
.field p,.field_bot p{
    display: inline-block;
    line-height: 22px;
    color:#555;
    margin-bottom: 5px;
    font-size: 15px;
    font-family: "微软雅黑";
    float: left;
}
.field a{
    display: inline-block;
    float: right;
    line-height: 22px;
    font-size: 15px;
    color:#2D59A2;
    margin-right: 10px;
}
.name{
    width: 315px;
    height: 40px;
    line-height: 40px;
    border:1px solid #ccc;
    border-radius: 3px;
    padding-left: 10px;
}
.bot{
    width: 800px;
    background: #fff;
    margin-top: 20px;
    border-radius: 5px;
    padding-bottom: 20px;
    float: left;
    overflow: hidden;
}
.sex_div{
    width: 315px;
    height: 40px;
    float: left;
}
.sex{
    width: 65px;
    height: 40px;
    color:#555;
    font-size: 15px;
    margin-right: 10px;
    float: left;
    line-height: 40px;
    cursor: pointer;
}
.select{
    width: 325px;
    height: 40px;
    background: #FCFCFC;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 15px;
    font-family: "微软雅黑";
    cursor: pointer;
    outline: none;
}
.field_bot{
    width: 670px;
    height: 70px;
    padding: 20px 10px 0px 10px;
    float: left;
}
.mot{
    width: 665px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    border:1px solid #ccc;
    border-radius: 5px;
}
.submit_div{
    width: 760px;
    height: 70px;
    padding: 20px 10px 0px 10px;
    float: left;
}
.submit{
    width: 100px;
    height: 40px;
    background: #242424;
    border:1px solid #242424;
    color:#fff;
    font-family: "微软雅黑";
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}