/*edit by lixiang*/
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
    /*background-color:#ecf0f5;*/
    background-color: #ffffff;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}
.main>h1{
    font-size: 24px;
    font-family: 'Microsoft YaHei', '微软雅黑';
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/**
 * box
 */
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border: 1px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box.box-default {
    border-top-color: #d2d6de;
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}
.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}
.box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}
.pull-right {
    float: right!important;
}
.has-feedback {
    position: relative;
}

.nav-header {
    background:#1C2B4B;
}
.box-footer {
    display: block;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.no-margin {
    margin: 0 !important;
}


/**
 * overlay 遮挡box，加载数据时使用
 */
.box .overlay {
    z-index: 50;
    background: rgba(255,255,255,0.7);
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.box .overlay>.glyphicon {
    position: absolute;
    top: 50%;
    left: 47%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
}
.glyphicon-spin {
    animation: glyphicon-spin 2s infinite linear;
    -webkit-animation:glyphicon-spin 2s infinite linear;
}
.glyphicon {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/**
 * 旋转动画 sarifar和chrome
 */
@-webkit-keyframes glyphicon-spin
{
    0%{
        -webkit-transform:rotate(0deg);
    }
    100%{
        -webkit-transform:rotate(360deg);
    }
}

/**
 * 旋转动画 火狐
 */
@-moz-keyframes glyphicon-spin{
    0%{
        -moz-transform:rotate(0deg);
    }
    100%{
    -moz-transform:rotate(360deg);
    }
}

/**
 * 权限选择框
 */
.authSelect{
    width: 50%;
    border-radius: 4px;
    border:1px solid #ddd;
}

/**
 * 页码激活状态
 */
.pagination >li>a.active {
    color:#fff;
    background-color: #337ab7;
    border-color: #337ab7;
    cursor:default;
}

.disabled {
    pointer-events:none;
    background-color:#e6e6e6;
    opacity: 0.65;
}

/**
 * table 设置
 */
table {
    table-layout: fixed;
    word-wrap: break-word;
}

