.template-panel{
    margin:1em;
    position:relative;
}

.template-btn-delete{
    display:none;
}

.template-panel:hover .template-btn-delete{
    display:block;
    position:absolute;
    right:0;
    top:0;
    color:red;
    cursor:pointer;
    z-index:999;
}

.basicinfo-template-options{
    width: 100%;
    max-height:360px;
    overflow-y:auto;
    box-sizing: border-box;
    border: 1px solid #a9a9a9;
    margin: 0!important;
    border-radius: 3px;
}

.template-option-wrap{
    padding: 10px;
}

.template-option-panel{
    text-align:center;
    border:1px solid lightgray;
    border-radius:5px;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
}

.template-option-panel:hover{
    border:1px solid #005599;
}

.template-option-thumbnail-container{
    width:100%;
}

.template-option-info{
    border-top: 1px solid lightgray;
    box-sizing: border-box;
}

.template-option-info-title{
    overflow: hidden;
    color: #005599;
    font-size: 14px;
    font-weight: 600;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.template-option-thumbnail{
    width:100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.template-more{
    text-decoration: none;
    color:black;
}

.template-more:hover{
    color: black;
    cursor: pointer;
}