<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title><%= title %></title>
    <link rel="stylesheet" href="/public/login/assets/fonts/iconfont/iconfont.css">
    <link rel="stylesheet" href="/public/login/assets/css/login_register.css">

    <script src="/public/login/assets/js/jquery-1.10.2.min.js"></script>
    <script src="/public/login/assets/js/findPasswordForm.js"></script>
</head>
<body>
<div class="content">
    <header class="navbar">
        <div class="navbar-brand">
            <a href="/">
                <img src="/public/login/assets/img/首页-公司LOGO.png" />
            </a>
        </div>

        <nav class="navbar-nav">
            <ul class="navbar-nav-link">
                <li><a href="/">首页</a></li>
                <li><a href="/download/index.html">下载</a></li>
                <li><a href="/blog/">博客</a></li>
                <li><a href="http://docs.graphichina.com/">教程</a></li>
                <li><a href="/update-log">更新日志</a></li>
                <li><a href="http://www.graphichina.com/Contact/Default.aspx">联系我们</a></li>
                <li><a href="/user/login">登录</a></li>
                <li><a href="/user/signup"><button class="btn btn-primary btn-register">注册</button></a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="switch">
            <a class="switch-btn"><%= title %></a>
        </div>
        <form id="form" class="form">
            <div class="form-item">
                <i class="iconfont icon-yonghuming form-item-icon"></i>
                <input  id="mail" type='text' placeholder="邮箱" class="form-control" required/>
                <span id="mail-verify" class="verify-result"></span>
            </div>
            <div class="form-item">
                <i class="iconfont icon-yanzhengma2 form-item-icon"></i>
                <input id="captcha-input" type="text" name="verify-code" placeholder="验证码" />
                <span id="captcha-verify" class="verify-result"></span>
            </div>
            <div class="form-captcha">
                <img id="captcha-img" src="/captcha" />
                <span class="change-captcha"><a id='change-captcha' class="noselelct" style="cursor: pointer;">换一张</a></span>
            </div>
            <div class="form-button">
                <button id="submit" type="submit" class="btn btn-primary btn-register">提交</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
