<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="description" content="我们提供快捷高效的二次开发工具链，可在网络客户端或本地客户端实现无代码二次开发工程。入门简单，且开发效果好。为广大客户 节省了大量的产品迭代开发时间，降低研发成本。用户不用花费大量时间和金钱成本去适应安卓等复杂操作系统的软件开发流程，只需要用简单的鼠标操作和坐标输入就能像做ppt一样做出优良的人机交互界面。" />
	<meta name="author" content="graphichina web dev team" />
	<title>AHMI IDE:人机界面云端开发平台</title>
	<link rel="stylesheet" href="/public/login/assets/fonts/iconfont/iconfont.css">
	<link rel="stylesheet" href="/public/login/assets/css/home.css">
	<script type="text/javascript" src="/public/login/assets/js/utils.js" defer></script>
	<script type="text/javascript" src="/public/login/assets/js/home.js" defer></script>

</head>

<body>
	<!-- 导航栏 -->
	<header class="navbar" id="top">
        <div class="navbar-brand">
            <a href="/">
                <img src="/public/login/assets/img/首页-公司LOGO.png" />
            </a>
        </div>

        <nav class="navbar-nav">
            <ul class="navbar-nav-link">
                <li><a href="/">首页</a></li>
                <li><a href="/download/index.html">下载</a></li>
                <li><a href="/blog/">博客</a></li>
                <li><a href="http://docs.graphichina.com/">教程</a></li>
                <li><a href="/update-log">更新日志</a></li>
                <li><a href="http://www.graphichina.com/Contact/Default.aspx">联系我们</a></li>
                <li><a href="/user/login">登录</a></li>
                <li><a href="/user/signup"><button class="btn btn-primary btn-register">注册</button></a></li>
            </ul>
        </nav>
    </header>

	<!-- 标题栏 -->
	<div class="title">
		<h3 class="title-master">AHMI IDE</h3>
		<h3 class="title-sub">极富特色的人机交互界面开发工具</h3>
		<p class="title-button"><a class="btn btn-primary btn-master" href="/private/space" role="button">进入个人空间</a></p>
	</div>

	<!-- 首页大图 -->
	<div class="jumbotron">
		<div class="jumbotron-img">
			<img src="/public/login/assets/img/imac_03.png" alt="">
		</div>
		<div class="jumbotron-list">
			<div class="list-item">
				<img src="/public/login/assets/img/icon快速掌握.png" alt="快速掌握">
				<h4>快速掌握</h4>
				<p>AHMI Web-IDE 使用图形化设计方法，不用学习新的编程语言，使您快速上手，迅速掌握整个开发流程。</p>
			</div>
			<div class="list-item">
				<img src="/public/login/assets/img/icon云端开发.png" alt="云端开发">
				<h4>云端开发</h4>
				<p>连接互联网，随时随地进行高效开发，工程文件存储在云端，随时获取，缩短周期，快人一步。</p>
			</div>
			<div class="list-item">
				<img src="/public/login/assets/img/icon操作便捷.png" alt="操作便捷">
				<h4>快速掌握</h4>
				<p>您可以像制作一份PPT一样设计您的屏幕界面，所有的操作都是那么熟悉。</p>
			</div>
		</div>
	</div>

	<!-- 主视频 -->
	<div class="video-container">
		<h3 class="video-title-line">仿真界面</h3>
		<h3 class="video-title-sub">加入定时器后的仿真效果视频</h3>
		<div class="video-box">
			<video controls preload>
				<source src="/public/resources/演示视频.mp4">
				您的浏览器不支持video标签播放视频
			</video>
		</div>
	</div>

	<!-- 主视频 -->
	<div class="video-container">
		<h3 class="video-title-line">演示界面</h3>
		<h3 class="video-title-sub">AHMI IDE DEMO</h3>
		<div class="video-box active">
			<video controls preload>
				<source src="/public/resources/AHMI IDE DEMO.mp4">
				您的浏览器不支持video标签播放视频
			</video>
		</div>
	</div>

	<!-- why choice us -->
	<div class="feature">
		<h3 class="feature-title">为什么选择我们</h3>
		<div class="feature-list">
			<span>
				<img src="/public/login/assets/img/效果.png" alt="">
				<h4>优异的显示效果</h4>
			</span>
			<span>
				<img src="/public/login/assets/img/状态.png" alt="">
				<h4>稳定的工作状态</h4>
			</span>
			<span>
				<img src="/public/login/assets/img/门槛.png" alt="">
				<h4>最低的使用门槛</h4>
			</span>
			<span>
				<img src="/public/login/assets/img/方式.png" alt="">
				<h4>简单的操作方式</h4>
			</span>
		</div>
	</div>

	<!-- introduce -->
	<div class="introduce">
		<h4 class="introduce-title">我们做物联网时代的美化大师</h4>
		<p class="introduce-text">围绕自主研发的硬件平台，实现绚丽的效果与快速的刷新速率。配合图形化开发工具，实现低成本的二次开发</p>
		<div class="introduce-list">
			<div class=introduce-list-item>
				<img src="/public/login/assets/img/巨大变革.jpg" alt="">
				<h4>巨大变革</h4>
				<h5>来自独有的核心技术</h5>
				<p>始于我们带来的核心图形运算芯片，这颗芯片优化精简了传统GPU架构，满足物联网设备高效、低功耗的显示需求。</p>
			</div>
			<div class=introduce-list-item>
				<img src="/public/login/assets/img/完美体验.jpg" alt="">
				<h4>完美体验</h4>
				<h5>源自快速稳定的系统</h5>
				<p>业界的解决方案通常有一个沉重的操作系统，因此会有不小的故障率。而我们的方案使用了一个轻量的操作系统，开机响应迅速，可以实现零延迟启动。</p>
			</div>
			<div class=introduce-list-item>
				<img src="/public/login/assets/img/二次开发.jpg" alt="">
				<h4>二次开发</h4>
				<h5>依托便捷的图形工具链</h5>
				<p>在线开发工具链提供图形化的开发环境，降低对开发者编程背景的要求，提高客户二次开发效率，降低迭代成本。</p>
			</div>
		</div>
	</div>

	<!-- 轮播图 -->
	<div class="slide">
		<div class="slide-container">
			<i class="iconfont icon-zuo left-icon"></i>
			<img class="slide-item slide-item-middle" src="/public/login/assets/img/轮播图1.gif" alt="">
			<img class="slide-item slide-item-left" src="/public/login/assets/img/轮播图4.gif" alt="">
			<img class="slide-item slide-item-right" src="/public/login/assets/img/轮播图3.gif" alt="">
			<i class="iconfont icon-gengduo right-icon"></i>
		</div>
		<h3 class="slide-title">IDE动画效果展示</h3>
	</div>

	<div class="download">
		<div class="download-img">
			<img src="/public/login/assets/img/底端-MacBook.png" alt="">
		</div>
		<div class="download-info">
			<h4> 速显微AHMI-IDE客户端下载</h4>
			<p>下载客户端，无需复杂的操作，只需要简单的鼠标操作和坐标输入就能像制作ppt一样做出优良的人机交互界面</p>
			<div class="icon">
				<!-- <div class="icon-wrapper">
					<img class="mac" src="/public/login/assets/img/mac.png" alt="">
					<a href="#">Mac下载</a>
				</div> -->
				<div class="icon-wrapper">
					<img class="windows" src="/public/login/assets/img/windows白.png" alt="">
					<a href="/download/index.html">Windows下载</a>
				</div>
			</div>
			<div class="code">
				<img src="/public/login/assets/img/二维码.png" alt="">
			</div>
		</div>
	</div>

	<footer class="footer">
		<p>版权所有 2011-2019 苏州速显微电子科技有限公司 保留一切权利 苏ICP备16003792号-1</p>
	</footer>

    <a class="scrollTop" href="#top" target="_self" title="回到顶部">
        <i class="iconfont icon-tubiao02"></i>
    </a>

</body>

</html>