<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title><%= title||"登录" %></title>
    <script src="/public/login/assets/js/jquery-1.10.2.min.js"></script>
    <!--  Core Bootstrap Script -->
    <script src="/public/login/assets/js/bootstrap.min.js"></script>

    <script src="/public/login/assets/js/md5.js"></script>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="/public/login/assets/css/bootstrap.min.css" rel="stylesheet"/>


    <link href="/public/login/assets/css/style.css" rel="stylesheet"/>
    <link href="/public/login/assets/css/signupform.css" rel="stylesheet" />
    <script src="/public/login/assets/js/loginform.js"></script>
    <!--<script src="/public/login/assets/js/md5.js"></script>-->

</head>
<body>
<div class="content">
<div class="navbar navbar-inverse " id="menu">
    <div class="container container-zyj1">
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>-->
            <a class="navbar-brand" href="/"><img class="logo-custom" src="/public/login/assets/img/速显微.png" alt=""/></a>
        </div>
        <div class="navbar-collapse collapse move-me">
            <ul class="nav navbar-nav navbar-right findback">
                <li><a href="/user/signup">注册</a></li>
                <li><a href="/user/login">登录</a></li>
            </ul>
        </div>

    </div>
</div>
<!--NAVBAR SECTION END-->
<div class="subtitle" style="text-align: center">
    <h2 id="form-title" class="title"><%= title %></h2>
</div>
<div class="form-wrapper">
    <% include loginForm.html %>
</div>
</div>


<!--<div style="position: fixed;bottom:0;display: block;width: 100%">-->
    <div class="short-footer">
    <footer>
        <% include ../all/footer.html %>
    </footer>

</div>

<!-- FOOTER SECTION END-->

<!--  Jquery Core Script -->


<!--注册-->

</body >
<script src="/public/general/js/versionTag.js"></script>
</html >
