<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-9 ">
    <meta name="description" content="我们提供快捷高效的二次开发工具链，可在网络客户端或本地客户端实现无代码二次开发工程。入门简单，且开发效果好。为广大客户 节省了大量的产品迭代开发时间，降低研发成本。用户不用花费大量时间和金钱成本去适应安卓等复杂操作系统的软件开发流程，只需要用简单的鼠标操作和坐标输入就能像做ppt一样做出优良的人机交互界面。" />
    <meta name="author" content="graphichina web dev team" />
    <title>AHMI IDE:人机界面云端开发平台-登陆</title>
    <link rel="stylesheet" href="/public/login/assets/fonts/iconfont/iconfont.css">
    <link rel="stylesheet" href="/public/login/assets/css/login_register.css">
</head>

<body>
    <header class="navbar">
        <div class="navbar-brand">
            <a href="/">
                <img src="/public/login/assets/img/首页-公司LOGO.png" />
            </a>
        </div>

        <nav class="navbar-nav">
            <ul class="navbar-nav-link">
                <li><a href="/">首页</a></li>
                <li><a href="/download/index.html">下载</a></li>
                <li><a href="/blog/">博客</a></li>
                <li><a href="http://docs.graphichina.com/">教程</a></li>
                <li><a href="/update-log">更新日志</a></li>
                <li><a href="http://www.graphichina.com/Contact/Default.aspx">联系我们</a></li>
                <li><a href="/user/login">登录</a></li>
                <li><a href="/user/signup"><button class="btn btn-primary btn-register">注册</button></a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="switch">
            <a href="/user/login" id="loginBtn" class="switch-btn active">登录</a>
            <a href="/user/signup" id="registerBtn" class="switch-btn">注册</a>
        </div>
        <form id="form" class="form">
            <div class="form-item">
                <i class="iconfont icon-yonghuming form-item-icon"></i>
                <input id="username" type="text" name="username" placeholder="用户名或邮箱" />
                <span id="username-verify" class="verify-result"></span>
            </div>
            <div class="form-item">
                <i class="iconfont icon-mima form-item-icon"></i>
                <input id="password" type="password" name="password" placeholder="密码" />
                <span id="password-verify" class="verify-result"></span>
            </div>
            <div class="form-item">
                <i class="iconfont icon-yanzhengma2 form-item-icon"></i>
                <input id="captcha-input" type="text" name="captcha" placeholder="验证码" />
                <span id="captcha-verify" class="verify-result"></span>
            </div>
            <div class="form-captcha">
                <img id="captcha-img" src="/captcha" alt="验证码">
                <span class="change-captcha"><a id="change-captcha" style="cursor: pointer;">换一张</a></span>
            </div>
            <div class="form-button">
                <button id="submit" class="btn btn-primary btn-register">登录</button>
            </div>
        </form>
        <div class="link">
            <span class="password"><a href="/user/forgetpassword">忘记密码</a></span>
            <span class="register">第一次使用IDE?<a href="/user/signup">点我注册</a></span>
        </div>
    </div>

    <script src="/public/login/assets/js/jquery-1.10.2.min.js" defer></script>
    <script src="/public/login/assets/js/md5.js" defer></script>
    <script type="text/javascript" src="/public/login/assets/js/login_new.js" defer></script>
</body>

</html>