<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人空间</title>
    <link rel="stylesheet" href="../../public/ide/lib/toastr/toastr.min.css" type="text/css" />
    <link rel="stylesheet" href="../../public/font/iconfont/iconfont.css" type="text/css" />
    <link href="../../public/login/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../public/login/assets/css/jquery.contextMenu.min.css" type="text/css" />
    <link rel="stylesheet" href="../../public/login/assets/css/personalSpace.css" type="text/css">
    <link rel="stylesheet" href="../../public/login/assets/css/templates.css" type="text/css" />

    <script src="../../public/login/assets/js/jquery-1.10.2.min.js"></script>
    <script src="../../public/login/assets/js/jquery.contextMenu.min.js"></script>
    <script src="../../public/login/assets/js/bootstrap.min.js"></script>
    <script src="../../public/login/assets/js/ejs_production.js"></script>
    <script src="../../public/login/assets/js/personalProject.js"></script>
    <script src="../../public/login/assets/js/projectSpaceView.js"></script>
    <script src="../../public/login/assets/js/compatibilityCheck.js"></script>
    <script src="../../public/ide/lib/toastr/toastr.min.js"></script>
    <script src="../../public/login/assets/js/templates.js"></script>
</head>
<body>
<header class="project-top-nav">
    <div class="index-top-nav clearfix" style="text-align: center;position: relative;">
        <a href="personalProject.html" style="position: absolute;left: 60px;top: 0;"><img src="../../public/login/assets/images/logo.png"/></a>
        <h3 style="color: #005599;font-weight: 600">AHMI-IDE 桌面版</h3>
    </div>
</header>
<!--工程列表-->
<div class="wrapper" id="filedrag">
    <div class="project-content" id="project-content">
        <div class="project-content__operate clearfix">
            <div class="project-operate__view clearfix">
                <a href="/project/recycle" target="_blank" class="p-o__item"><i class="iconfont">&#xe643;</i><span>回收站</span></a>
                <span class="project-operate__view-line"></span>
                <a href="/templatecenter" target="_blank" class="p-o__item"><i class="iconfont">&#xe76a;</i><span>工程模板</span></a>
            </div>
            <div class="project-operate__create">
                <div class="project-operate__create-item add-folder" id="add-folder" data-toggle="modal" data-target="#folder-info-modal">
                    <img class="default-img" src="../../public/login/assets/images/add-project.png"/>
                    <img class="active-img" src="../../public/login/assets/images/add-project-active.png"/>
                    <span>新建文件夹</span>
                </div>
                <div class="project-operate__create-item add-project" id="add-project" data-toggle="modal" data-target="#project-info-modal">
                    <img class="default-img" src="../../public/login/assets/images/add-project.png"/>
                    <img class="active-img" src="../../public/login/assets/images/add-project-active.png"/>
                    <span>新建工程</span>
                </div>
            </div>
        </div>

        <!--工程列表-->
        <div id="list-wrap">
            <div class="project-list-wrap" id="project-list-wrap">
                <ul class="project-list clearfix" id="project-list">
                    <span id="boundary"></span>
        
                </ul>
                
            </div>

            <div class="folder-space-wrap" id="folder-space-wrap">
                <div class="folder-space-list"></div>
            </div>
        </div>
    </div>
</div>
<div id="updater_wrapper">
    <div class="displayInfo">
        <p id="updateInfoText"></p>
        <div id="myprogressBackground">
            <div id="myprogress"></div>
        </div>
    </div>
</div>

<!-- 模态框 -->
<!--新建、修改工程-->
<div class="modal fade" id="project-info-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                <h4 class="modal-title">工程选项</h4>
            </div>
            <div class="modal-body">
                <div class="modal-row">
                    <span class="modal-label col-lg-3">名&emsp;称</span><input id="basicinfo-title" type="text" autocomplete="off" placeholder="请输入工程名称" class="modal-input col-lg-9" />
                </div>
                <div class="modal-row">
                    <span class="modal-label col-lg-3">作&emsp;者</span><input id="basicinfo-author" type="text" placeholder="请输入作者名称" class="modal-input col-lg-9" />
                </div>
                <div class="modal-row">
                    <span class="modal-label col-lg-3">分辨率</span>
                    <select id="basicinfo-resolution" class="col-lg-9 modal-input">
                        <option value="1280*480">1280 * 480</option>
                        <option value="1280*800">1280 * 800</option>
                        <option value="1920*1080">1920 * 1080</option>
                        <option value="1000*600">1000 * 600</option>
                        <option value="800*600">800 * 600</option>
                        <option value="800*480">800 * 480</option>
                        <option value="480*272">480 * 272</option>
                        <option value="320*240">320 * 240</option>
                        <option value="custom">自定义</option>
                    </select>
                </div>
                <div class="modal-row" id="basicinfo-customResolution">
                    <span class="modal-label col-lg-2">宽度:</span>
                    <input type="number" class="col-lg-4 modal-input" id="customWidth" placeholder="1~1920"/>
                    <span class="modal-label col-lg-2">高度:</span>
                    <input type="number" class="col-lg-4 modal-input" id="customHeight" placeholder="1~1920">
                </div>
                <div class="modal-row">
                    <span class="modal-label col-lg-3">IDE版本</span>
                    <select id="basicinfo-ideversion" class="col-lg-9 modal-input" value="">
                        <option value="">---</option>
                    </select>
                </div>
                <div class="modal-row compatibility-container">
                    <span class="modal-label col-lg-6">一体化软件兼容性</span>
                    <span class="compatibility-show col-lg-6"></span>
                </div>
                <div class="modal-row">
                    <span class="modal-label col-lg-3">模&emsp;板</span>
                    <select id="basicinfo-template" class="col-lg-9 modal-input" value="">
                        <option value="">---</option>
                        <option value="defaultTemplate">默认模板</option>
                        <option class="template__option-collected" value="collectedTemplate">收藏模板</option>
                    </select>

                </div>
                <div>
                    <div class="basicinfo-template-options row">

                    </div>
                </div>
                <div class="modal-row">
                    <span class="modal-label col-lg-3">触&emsp;屏</span>
                    <select id="basicinfo-supportTouch" class="col-lg-9 modal-input" value="">
                        <option value="true">触屏设备</option>
                        <option value="false">非触屏设备</option>
                    </select>
                </div>
                <div class="modal-row">
                    <span class="modal-label col-lg-3">编&emsp;码</span>
                    <select id="basicinfo-encoding" class="col-lg-9 modal-input" value="">
                        <option value="ascii">ASCII</option>
                        <option value="utf-8">UTF-8</option>
                        <option value="gb2312">GB2312</option>
                    </select>
                </div>
                <!--<div class="des">-->
                <!--<textarea placeholder="项目描述" class="modal-text"></textarea>-->
                <!--</div>-->
            </div>
            <div class="modal-footer">
                <button id="project-info-confirm" type="button" class="btn-confirm modal-btn" data-dismiss="modal">创建</button>
                <button id="modal-cancel" type="button" class="btn-cancel modal-btn" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<!--新建、修改项目-->
<div class="modal fade" id="folder-info-modal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myFolderLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myFolderLabel">文件夹选项</h4>
            </div>
            <div class="modal-body">
                <div class="modal-row">
                    <span class="modal-label col-lg-3">名&emsp;称</span>
                    <input id="folder-title" type="text" autocomplete="off" placeholder="文件夹名称" class="modal-input col-lg-9" />
                </div>
                <div class="modal-row">
                    <span class="modal-label col-lg-3">作&emsp;者</span>
                    <input id="folder-author" type="text" placeholder="创建人名称" class="modal-input col-lg-9" />
                </div>
            </div>
            <div class="modal-footer">
                <button id="folder-ok" type="button" class="btn-confirm modal-btn" data-dismiss="modal">创建</button>
                <button id="folder-cancel" type="button" class="modal-btn" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<!--删除工程-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">删除工程</h4>
            </div>
            <div class="modal-body">
                <h4 class="modal-text-h">您确定要删除&nbsp;<span class="project-delete__prompt"></span>&nbsp;吗?</h4>
                <p class="modal-text-h modal-recycle-reminder">可在回收站中找回已删除的工程</p>
            </div>
            <div class="modal-footer">
                <button id="delete-project-confirm" type="button" class="btn-confirm modal-btn" data-dismiss="modal">确认</button>
                <button type="button" class="modal-btn" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<!--删除模板-->
<div class="modal fade" id="template-modal" tabindex="-1" role="dialog" aria-labelledby="template-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="template-modal-delete">确认删除?</h4>
            </div>
            <div class="modal-footer">
                <button id="template-modal-confirm" type="button" class="modal-btn btn-confirm" data-dismiss="modal">确认</button>
                <button type="button" class="modal-btn" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--删除项目-->
<div class="modal fade" id="delete-folder-modal" tabindex="-1" role="dialog" aria-labelledby="deleteFolderLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteFolderLabel">删除文件夹</h4>
            </div>
            <div class="modal-body">
                <h4 class="modal-text-h">你确定要删除&nbsp;<span class="folder-delete__prompt"></span>&nbsp;包括其中的工程吗？</h4>
                <p class="modal-text-h modal-recycle-reminder">可在回收站中找回已删除的工程</p>
            </div>
            <div class="modal-footer">
                <button id="deleteFolderConfirm" type="button" class="modal-btn btn-confirm" data-dismiss="modal">确认</button>
                <button type="button" class="modal-btn" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--上传工程-->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="uploadLabel">上传本地工程</h4>
            </div>
            <div class="modal-body">
                <h4 style="color: #7d7d7d;text-align: center">合法的本地工程，确定上传？</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="modal-btn btn-confirm" id="confirmReleaseBtn">确定</button>
                <button type="button" class="modal-btn" data-dismiss="modal" id="cancelReleaseBtn">取消</button>
            </div>
        </div>
    </div>
</div>
<!--分享工程-->
<div class="modal fade" id="share-project-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">分享工程</h4>
            </div>
            <div class="modal-body" style="text-align: center">
                <button class="btn btn-primary" id="share-button">开启分享</button>
                <div class="share-wrap" id="share-wrap">
                    <p id="share-url"></p>
                    <p id="share-key"></p>
                    <p id="readOnly-key"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button id="share-cancel" type="button" class="modal-btn" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--工程版本-->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">IDE编辑器检测到更新：<span id="update-new-version"></span></h4>
            </div>
            <div class="modal-body update-options-body">
                <div class="modal-row">
                    <label class="btn btn-primary active">
                        <input type="radio" name="update-options" id="update-option-1" class="update-option" value='1' autocomplete="off" > 不升级，打开旧版本
                    </label>
                </div>
                <div class="modal-row">
                    <label class="btn btn-primary">
                        <input type="radio" name="update-options" id="update-option-2" class="update-option" value='2' autocomplete="off"> 保存副本，升级工程
                    </label>
                </div>
                <div class="modal-row">
                    <label class="btn btn-primary">
                        <input type="radio" name="update-options" id="update-option-3" class="update-option" value='3' autocomplete="off"> 不保存副本，升级工程
                    </label>
                </div>
                <div >
                    <span class="update-alert"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="modal-btn btn-confirm" id="updateConfirmBtn">确定</button>
                <button type="button" class="modal-btn" data-dismiss="modal" id="updateCancelBtn">取消</button>
            </div>
        </div>
    </div>
</div>
<!--创建工具提示-->
<div class="modal fade" id="originSiteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">工程创建工具检测</h4>
            </div>
            <div class="modal-body">
                <h4 class="modal-text-h">此工程的创建工具为&nbsp;<span class="origin-site" style="color: #005599"></span>&nbsp;!</h4>
                <p class="modal-text-h">与当前使用工具不匹配，打开可能会出现问题，是否继续打开？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="modal-btn btn-confirm modal-confirm" data-dismiss="modal" id="originSiteConfirm">确定</button>
                <button type="button" class="modal-btn modal-cancel" data-dismiss="modal" id="originSiteCancel">取消</button>
            </div>
        </div>
    </div>
</div>

<script>
    //        for local
    try{
        var os = require('os');
        var mainhref = document.getElementById('mainhref');
        mainhref.setAttribute('href','#');
        var iconDropdown = document.getElementById('icon-dropdown');
        iconDropdown.parentNode.removeChild(iconDropdown);
    }catch (e){

    }

    /*var loadFont = function() {
        document.body.className+='customFont';
    }*/
</script>
</body>
<script src="../../public/general/js/versionTag.js"></script>
<script src="../../public/general/js/browserCheck.js"></script>
<script src="../../public/nw/menubar.js"></script>
<script src="../../public/login/assets/js/dragFolder.js"></script>
<!--<script src="../../public/login/assets/js/perProCtrol.js"></script>-->
</html>