<form id='login-form' class="form-horizontal form" >
    <div class="fieldset">
        <input id="password" type='password' placeholder="密码" class="form-control" required />
        <span id="password-verify" class="verify-result"></span>
    </div>
    <div class="fieldset">
        <input type="password" id="comparepassword" class="form-control" required placeholder="确认密码" />
        <span id="comparepassword-verify" class="verify-result"></span>
    </div>

    <div class="fieldset">
        <input type="text" id="captcha-input" class="form-control" placeholder="输入验证码" />
        <div class="captcha-wrap">
            <img id="captcha-img"  src="/captcha" />
            <a id='change-captcha' style="cursor: pointer;" >换一张</a>
        </div>

    </div>
    <div class="fieldset">
        <span id="captcha-verify" class="verify-result"></span>
    </div>
    <div class="fieldset">
        <button type="button" id="submit" class="form-control">提交</button>
    </div>

</form>