<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>帐号设置</title>
    <link rel="stylesheet" href="../css/settings.css" type="text/css" />
</head>
<body>
    <div class="main">
        <h2 class="head">帐号设置</h2>
        <form action="" method="post">
            <div class="input1">
                <p>输入用户名：</p>
                <input type="text" value="" name="username" class="name1" placeholder="输入30个字符以内" maxlength="30" />
            </div>
            <div class="input2">
                <p>名字：</p>
                <input type="text" value="" name="name" class="name2" placeholder="全称" />
            </div>
            <div class="input3">
                <p>Email：</p>
                <input type="text" value="" name="email" class="email" />
            </div>
            <div class="input4">
                <input type="submit" value="存 储" class="submit" />
            </div>
        </form>
    </div>
</body>
</html>